# Pandas concat excel 多种操作方法

In [1]:
import pandas as pd
dict=[[1,2,3,4,5,6],[2,3,4,5,6,7],[3,4,5,6,7,8],[4,5,6,7,8,9],[5,6,7,8,9,10]]

In [2]:
data = pd.DataFrame(dict)

In [3]:
data

   0  1  2  3  4   5
0  1  2  3  4  5   6
1  2  3  4  5  6   7
2  3  4  5  6  7   8
3  4  5  6  7  8   9
4  5  6  7  8  9  10

In [4]:
for indexs in data.index:
    print(data.loc[indexs].values[0:-1])

[1 2 3 4 5]
[2 3 4 5 6]
[3 4 5 6 7]
[4 5 6 7 8]
[5 6 7 8 9]

In [3]:
import os
import pandas as pd 
dir = 'test/'
filenames = os.listdir(dir)
index = 0
dfs = []
for name in filenames:
    print('正在处理第'+ str(index+1) + '个表格')
    dfs.append(pd.read_excel(os.path.join(dir,name)))
    index +=1
df = pd.concat(dfs)
df.to_excel('test/total.xlsx',index= False)

正在处理第1个表格
正在处理第2个表格
正在处理第3个表格
正在处理第4个表格
正在处理第5个表格
正在处理第6个表格
正在处理第7个表格
正在处理第8个表格
正在处理第9个表格

In [11]:
import os
import sys
import xlrd
import xlsxwriter
import pandas as pd


def get_file_list(dir, file_type_list=['txt', 'csv', 'xlsx', 'xls'], file_list=[]):
    '''
    获取指定文件夹下指定类型文件路径
    :param dir: 文件夹路径
    :param file_type_list: 文件类型
    :param file_list: 文件列表
    :return:
    '''
    for root, _, files in os.walk(dir):
        for file in files:
            file_type = file[file.rfind('.') + 1:]
            if file_type in file_type_list:
                file_list.append(os.path.join(root, file))
    return file_list


def merge_xlsx_files(file_dir_path, out_file_path,
                     file_type_list=['txt', 'csv', 'xlsx', 'xls'],
                     out_file_name='result.xlsx'):
    '''
    合并目录下指定类型的文件
    :param file_dir_path: 文件夹路径
    :param out_file_path:  输出文件夹路径
    :param file_type_list: 需要合并的文件类型
    :param out_file_name:  输出文件名称
    :return:
    '''
    file_paths = get_file_list(file_dir_path, file_type_list)
    if not os.path.exists(out_file_path):
        os.makedirs(out_file_path)
    dfs = []
    for file in file_paths:
        print(f'file={file}')
        dfs.append(pd.read_excel(file))
    df = pd.concat(dfs)
    df.to_excel(os.path.join(out_file_path, out_file_name), index=False)
    print(f'out_file_path={out_file_path}')
    
if __name__ == '__main__':
    file_dir_path = os.path.join(sys.path[0], r'D:\jupyter notebook\test')
    out_file_path = os.path.join(sys.path[0], r'D:\jupyter notebook\test')
    merge_xlsx_files(file_dir_path, out_file_path, ['xls'])

file=D:\jupyter notebook\test\21体侧数据模板.xls
file=D:\jupyter notebook\test\22体侧数据模板.xls
file=D:\jupyter notebook\test\23体侧数据模板.xls
file=D:\jupyter notebook\test\24体侧数据模板.xls
file=D:\jupyter notebook\test\25体侧数据模板.xls
file=D:\jupyter notebook\test\26体侧数据模板.xls
file=D:\jupyter notebook\test\27体侧数据模板.xls
file=D:\jupyter notebook\test\28体侧数据模板.xls
out_file_path=D:\jupyter notebook\test

In [37]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# @Time    : 2020/3/21 16:59
# @Author  : ystraw
# @Site    : 
# @File    : 合并excel.py
# @Software: PyCharm Community Edition
# @function: 合并指定文件夹下的所有excel
 
import os
import pandas as pd
import datetime
 
def getFileName(path):
    files = os.listdir(path)
    # print(files)
    filenames = []
    for file in files:
        filenames.append(file)
    # print(filenames)
    return filenames
 
if __name__ == '__main__':
    # 合并下面文件下所有excel文件：
    path = r'D:\Wowode\jupyterlab\test'
    # 读取该文件夹下的需要合并的文件路径
    filelist = getFileName(path)
    # 设置合并后文件的名字
    file_time = datetime.datetime.now()
    file_time = str(file_time).replace(' ', '_').replace(':','_').replace('-','_')[:-7]
    savename = file_time + '_合并文件.xlsx'
    # 存储合并的df
    savedata = []
    # 依次读取待合并数据：
    for file in filelist:
        # 读写文件
        filepath = path + "\\" + file
        print('需要合并的文件：', filepath)
        df = pd.read_excel(filepath)
        savedata.append(df)
    # 合并文件
    newdf = pd.concat(savedata)
    # 保存文件
    newdf.to_excel('./data/' + savename, index=False)  # 保存文件，为追加模式，且不要列头
    print('合并后数据的大小：', newdf.shape)

需要合并的文件： D:\Wowode\jupyterlab\test\21体侧数据模板.xls
需要合并的文件： D:\Wowode\jupyterlab\test\22体侧数据模板.xls
需要合并的文件： D:\Wowode\jupyterlab\test\23体侧数据模板.xls
需要合并的文件： D:\Wowode\jupyterlab\test\24体侧数据模板.xls
需要合并的文件： D:\Wowode\jupyterlab\test\25体侧数据模板.xls
需要合并的文件： D:\Wowode\jupyterlab\test\26体侧数据模板.xls
需要合并的文件： D:\Wowode\jupyterlab\test\27体侧数据模板.xls
需要合并的文件： D:\Wowode\jupyterlab\test\28体侧数据模板.xls
合并后数据的大小： (430, 17)

#这个不错，功能强大
#使用Excel的加载功能PowerQuery可以合并文件夹中的多个工作簿内的很多工作表，python也可以，几行代码轻松搞定。

In [219]:
# 导入库
import pandas as pd
import os
 
df = pd.DataFrame()
path_str = r'D:\jupyter notebook\test'
 
for excel_str in os.listdir(path_str):
    print('需要合并的文件:',path_str+excel_str)
    
    new_path = os.path.join(path_str,excel_str)
    if os.path.isfile(new_path):
        excel = pd.ExcelFile(new_path)
        for sheet in excel.sheet_names:
         
            sheet_excel = excel.parse(sheet)
            sheet_excel['test'] = excel_str.split('.')[0] # 将原工作簿名作为合并后工作表的列
            df = pd.concat([df,sheet_excel])

# 导出到原文件夹

# if os.path.exists(new_str):
#     os.remove(new_str)
new_str = os.path.join(path_str,'合并文件.xlsx')
df.to_excel(new_str,index=False)
print('合并后数据的大小:', df.shape) 
print('合并工作已完成，请到原文件夹内查看结果！')

需要合并的文件: D:\jupyter notebook\test21体侧数据模板.xls
需要合并的文件: D:\jupyter notebook\test22体侧数据模板.xls
需要合并的文件: D:\jupyter notebook\test23体侧数据模板.xls
需要合并的文件: D:\jupyter notebook\test24体侧数据模板.xls
需要合并的文件: D:\jupyter notebook\test25体侧数据模板.xls
需要合并的文件: D:\jupyter notebook\test26体侧数据模板.xls
需要合并的文件: D:\jupyter notebook\test27体侧数据模板.xls
需要合并的文件: D:\jupyter notebook\test28体侧数据模板.xls
合并后数据的大小: (430, 18)
合并工作已完成，请到原文件夹内查看结果！

把一个文件夹下的多个excel文件合并到同一个excel的一个sheet里

In [43]:
#!/usr/bin/python

# -*- coding: UTF-8 -*-

import pandas as pd
import os


Folder_Path = r'D:\jupyter notebook\test'
file_list = os.listdir(Folder_Path)

dfs = []

for item in file_list:
    print('需要合并的文件为:',Folder_Path+item)
    dfs.append(pd.read_excel(Folder_Path + '\\' + item))
    
df = pd.concat(dfs, sort=False)
df.to_excel(r'D:\jupyter notebook\test\test.xlsx', index=False)
print('合并后的数据大小为:',df.shape)
print('合并完成')

需要合并的文件为: D:\jupyter notebook\test21体侧数据模板.xls
需要合并的文件为: D:\jupyter notebook\test22体侧数据模板.xls
需要合并的文件为: D:\jupyter notebook\test23体侧数据模板.xls
需要合并的文件为: D:\jupyter notebook\test24体侧数据模板.xls
需要合并的文件为: D:\jupyter notebook\test25体侧数据模板.xls
需要合并的文件为: D:\jupyter notebook\test26体侧数据模板.xls
需要合并的文件为: D:\jupyter notebook\test27体侧数据模板.xls
需要合并的文件为: D:\jupyter notebook\test28体侧数据模板.xls
需要合并的文件为: D:\jupyter notebook\testtest.xlsx
合并后的数据大小为: (860, 17)
合并完成

In [52]:
# coding=utf-8
import os
import xlwt #操作excel模块
import sys
 
file_path = sys.path[0]+'\\filenamelist.xls'#sys.path[0]为要获取当前路径，filenamelist为要写入的文件
f = xlwt.Workbook(encoding='utf-8', style_compression=0) #新建一个excel
sheet = f.add_sheet('sheet1') #新建一个sheet
pathDir = os.listdir(sys.path[0])#文件放置在当前文件夹中，用来获取当前文件夹内所有文件目录
 
i = 0 #将文件列表写入test.xls
for s in pathDir:
    sheet.write(i, 0, s) #参数i,0,s分别代表行，列，写入值
    i = i+1
            
print(file_path)
print(i)        #显示文件名数量
f.save(file_path)

D:\Wowode\jupyterlab\filenamelist.xls
23

#超过7万小于100万行数据合并方式

In [13]:
path_str = r'D:\jupyter notebook\test'
filenames = os.listdir(path_str)
file=[path_str+i for i in filenames]
for i in file:
    print(i,end='\n')

D:\jupyter notebook\test21体侧数据模板.xls
D:\jupyter notebook\test22体侧数据模板.xls
D:\jupyter notebook\test23体侧数据模板.xls
D:\jupyter notebook\test24体侧数据模板.xls
D:\jupyter notebook\test25体侧数据模板.xls
D:\jupyter notebook\test26体侧数据模板.xls
D:\jupyter notebook\test27体侧数据模板.xls
D:\jupyter notebook\test28体侧数据模板.xls
D:\jupyter notebook\test合并文件.xlsx

In [15]:
path = r'D:\jupyter notebook\test'
filenames=os.listdir(path)
for filename in filenames:
    print(path + filename)

D:\jupyter notebook\test21体侧数据模板.xls
D:\jupyter notebook\test22体侧数据模板.xls
D:\jupyter notebook\test23体侧数据模板.xls
D:\jupyter notebook\test24体侧数据模板.xls
D:\jupyter notebook\test25体侧数据模板.xls
D:\jupyter notebook\test26体侧数据模板.xls
D:\jupyter notebook\test27体侧数据模板.xls
D:\jupyter notebook\test28体侧数据模板.xls
D:\jupyter notebook\test合并文件.xlsx

# 超过7万小于100万行数据合并方式

In [62]:
import tkinter as tk
from tkinter import filedialog
import os
import pandas as pd
import glob
 
root = tk.Tk()
root.withdraw()
 
# 选择文件夹位置
filelocation = os.path.normpath(filedialog.askdirectory(initialdir=os.getcwd()))
lst=[]
 
# 读取文件夹下所有文件（xls和xlsx都读取）
for i in glob.glob(filelocation + "\\\\" + "*.*"):
    if os.path.splitext(i)[1] in [".xls", ".xlsx"]:
        lst.append(pd.read_excel(i))
 
# 保存合并后的excel文件
writer = pd.ExcelWriter(filedialog.asksaveasfilename(title = "保存", initialdir = filelocation, defaultextension = "xlsx", filetypes = [("Excel 工作簿", "*.xlsx"), ("Excel 97-2003 工作簿", "*.xls")]))
pd.concat(lst).to_excel(writer, 'all', index=False)
writer.save()
 
print('\n%d个文件已经合并成功！'% len(lst))

9个文件已经合并成功！

# 每日一句
每一个你不满意的现在，都有一个你没有努力的曾经。

# pandas 读取工作簿里面的所有工作表

In [ ]:
#Excel 转 CSV，一个 sheet 表存入一个 CSV 文件中，并以 sheet 名字命名

import pandas as pd

def xlsx_to_csv_pd():
#sheet_name=None 表示读取全部 sheet，或者 sheet_name=[0,10]，此处用 sheet_name，而不是用 sheetname
    data_xls = pd.read_excel(‘C:\Users\Administrator\Desktop\test\1.xlsx’,sheet_name=None,index_col=0)
    for key in data_xls:
        data_xls[key].to_csv(‘C:\Users\Administrator\Desktop\test\’+key+’.csv’, encoding=‘utf-8’)
        
if name == ‘main’:
    xlsx_to_csv_pd()

#csv 转 Excel
import pandas as pd
def csv_to_xlsx_pd():
    csv = pd.read_csv(‘C:\Users\Administrator\Desktop\test\1.csv’, encoding=‘utf-8’)
    
    csv.to_excel(‘C:\Users\Administrator\Desktop\test\2.xlsx’, sheet_name=‘data’)
    
if name == ‘main’:
    csv_to_xlsx_pd()

In [84]:
for sheet in data1:
    data2=data.parse(sheet)
    print(data2)

    年级编号           班级编号  班级名称                  学籍号  民族代码   姓名  性别       出生日期  \
0     12  1479781027767  （8）班  L341602200806240187     1  肖梦雅   2 2008-06-24
1     12  1479781027767  （8）班  L341602200810230213     1  夏恩修   1 2008-10-23
2     12  1479781027767  （8）班  L341602200811210230     1  蒋依晨   1 2008-11-21
3     12  1479781027767  （8）班  L3416022008112802B4     1  崔鸿正   1 2008-11-28
4     12  1479781027767  （8）班  L341602200812080124     1  付诺诺   2 2008-12-08
5     12  1479781027767  （8）班  L3416022008121001F8     1  李志豪   1 2008-12-10
6     12  1479781027767  （8）班  L3416022008121702C8     1  朱欣雅   2 2008-12-17
7     12  1479781027767  （8）班  L341602200901070219     1  刘沐阳   1 2009-01-07
8     12  1479781027767  （8）班  L3416022009011800C2     1  刘璐璐   2 2009-01-18
9     12  1479781027767  （8）班  L3416022009012400B3     1  潘星宇   1 2009-01-24
10    12  1479781027767  （8）班  L341602200902090027     1  于子贻   2 2009-02-09
11    12  1479781027767  （8）班  L3416022009021900E6     1  黄子涵   2 2009-02-19
12    12  1479781027767  （8）班  L341602200902190108     1  邓诗雅   2 2009-02-19
13    12  1479781027767  （8）班  L341602200902220143     1  宋佳恩   2 2009-02-22
14    12  1479781027767  （8）班  L3416022009030600F9     1  李家祥   1 2009-03-06
15    12  1479781027767  （8）班  L341602200903150079     1  康护航   1 2009-03-15
16    12  1479781027767  （8）班  L3416022009031800E2     1  周天然   2 2009-03-18
17    12  1479781027767  （8）班  L341602200903230087     1  李子琪   2 2009-03-23
18    12  1479781027767  （8）班  L341602200904010094     1  李佳錡   1 2009-04-01
19    12  1479781027767  （8）班  L341602200904080084     1  赵星涵   1 2009-04-08
20    12  1479781027767  （8）班  L341602200904130096     1  赵禹铭   1 2009-04-13
21    12  1479781027767  （8）班  L3416022009041700A6     1   程雨   2 2009-04-17
22    12  1479781027767  （8）班  L341602200904240076     1  李亚博   1 2009-04-24
23    12  1479781027767  （8）班  L3416022009050900F9     1  甄泉霖   1 2009-05-09
24    12  1479781027767  （8）班  L3416022009052600A3     1  李泽萱   2 2009-05-26
25    12  1479781027767  （8）班  L341602200906050073     1  邢家印   1 2009-06-05
26    12  1479781027767  （8）班  L3416022009061300B6     1   夏怡   1 2009-06-13
27    12  1479781027767  （8）班  L3416022009062400A4     1  陈亦乔   2 2009-06-24
28    12  1479781027767  （8）班  L341602200906260070     1  丁世豪   1 2009-06-26
29    12  1479781027767  （8）班  L3416022009063000A3     1  乔露冉   2 2009-06-30
30    12  1479781027767  （8）班  L3416022009070200B1     1  徐诣博   1 2009-07-02
31    12  1479781027767  （8）班  L3416022009070200F4     1  修一哲   1 2009-07-02
32    12  1479781027767  （8）班  L3416022009071100FX     1  夏豪杰   1 2009-07-11
33    12  1479781027767  （8）班  L3416022009072300A0     1  周旭冉   2 2009-07-23
34    12  1479781027767  （8）班  L3416022009080600A7     1  胡飘月   2 2009-08-06
35    12  1479781027767  （8）班  L341602200908080161     1  褚子涵   2 2009-08-08
36    12  1479781027767  （8）班  L34160220090815006X     1  孙若馨   2 2009-08-15
37    12  1479781027767  （8）班  L3416022009081800B7     1  刘星宇   1 2009-08-18
38    12  1479781027767  （8）班  L3416022009081800D3     1  王梓轩   1 2009-08-18
39    12  1479781027767  （8）班  L34160220090823006X     1   杨紫   2 2009-08-23
40    12  1479781027767  （8）班  L341602200908290097     1  康金科   1 2009-08-29
41    12  1479781027767  （8）班  L341602200909040073     1  吕彤俊   1 2009-09-04
42    12  1479781027767  （8）班  L341602200909140090     1  刘明德   1 2009-09-14
43    12  1479781027767  （8）班  L341602200909280034     1  韩雨桐   1 2009-09-28
44    12  1479781027767  （8）班  L3416022009101400E9     1   曹飒   2 2009-10-14
45    12  1479781027767  （8）班  L3416022009102400A7     1  史依诺   2 2009-10-24
46    12  1479781027767  （8）班  L341602200911080074     1  潘优璇   2 2009-11-08
47    12  1479781027767  （8）班  L341602200911090045     1  丁齐盈   2 2009-11-09
48    12  1479781027767  （8）班  L341602200911190070     1  马铭阳   1 2009-11-19
49    12  1479781027767  （8）班  L341602200911200048     1  乔佳琪   2 2009-11-20
50    12  1479781027767  （8）班  L341602200911270062     1  刘若瞳   2 2009-11-27
51    12  1479781027767  （8）班  L341602200912050053     1  曹煜恒   1 2009-12-05
52    12  1479781027767  （8）班  L341602200912220024     1  吴宇桐   2 2009-12-22

                    家庭住址   身高    体重   肺活量  50米跑  坐位体前屈  一分钟跳绳  一分钟仰卧起坐  \
0          谯城区丰水源居委会鲍庄8号  111  18.0   980    10    5.3     86      NaN
1      谯城区观堂镇夏庙行政村大夏楼村6号  130  35.0  1120    10    8.5    120      NaN
2      谯城区丰水源居委会瓜市西自然村4号  127  35.0   980    10    7.6    121      NaN
3         亳州市丰西湖苑8号1004室  128  36.0  1450    10    6.4     86      NaN
4      谯城区六里井行政村付庄自然村21号  120  23.0   980    10    5.3     90      NaN
5            谯城区航运公司438号  131  35.0  1120    11    8.5     86      NaN
6       亳州市丰水源西湖苑8号1004室  123  25.0   980    10    7.6    120      NaN
7           亳州市一中家属院436号  124  23.0  1450    10    6.4    121      NaN
8           谯城区东顺城街52号1户  133  35.0  1500    11    5.3     96      NaN
9             谯城区董家街谯郡华府  126  30.0  1450    11    8.5     88      NaN
10        谯城区五马镇常庄行政村大于庄  135  40.0  1020    10    8.5     88      NaN
11           谯城区风华社区洪庄4号  133  34.0   980    10    6.4     89      NaN
12      谯城区丁瓦行政村庙门口新村59号  134  33.5   690    10    5.3     96      NaN
13             谯城区估衣小学五楼  130  34.0   980    11    8.5     88      NaN
14     谯城区华佗镇道东行政村各甄元70户  136  37.0   690    10    8.5     88      NaN
15     谯城区丁瓦行政村丁瓦自然村376号  127  35.0   980    10    8.5     89      NaN
16          谯城区三圣庙街87号1户  128  36.0  1120    10    6.4     90      NaN
17  谯城区观堂镇康达行政村大李老家前对10号  120  23.0   980    10    5.3     86      NaN
18    谯城区谯东镇辛庄行政村李桥村154号  131  35.0  1450    11    8.5    120      NaN
19       谯城区华佗镇邢阁行政村赵庙9户  123  25.0  1500    10    7.6    121      NaN
20             谯城区新华北路一区  124  23.0  1450    10    6.4     86      NaN
21     谯城区华佗镇程屯行政村前程屯73户  133  35.0  1020    11    5.3     90      NaN
22         谯城区双沟镇雷庄自然村5号  126  30.0   980    11    8.5     86      NaN
23         谯城芦庙镇徐庙行政村甄庄村  123  25.0   690    10    8.5    120      NaN
24   谯城区新华北路三区2号楼一单元301室  131  35.0   980    10    6.4    121      NaN
25  谯城区华佗镇邢阁行政村赵庙大邢阁村17户  123  25.0  1120    11    5.3     96      NaN
26        谯城区五马镇芍花村夏庄38号  124  23.0   980    11    8.5     88      NaN
27       谯城区董家街一中家属院425号  133  35.0  1450    10    7.6     88      NaN
28      谯城区史庄行政区丁庄自然村24号  126  30.0  1500    10    6.4     89      NaN
29    谯城区五马镇物小阁行政村吴柳园30号  135  40.0  1450    10    5.3     90      NaN
30           谯城区人民东路162号  124  23.0  1020    11    8.5     86      NaN
31          谯城区人民中路西段61号  133  35.0   980    10    7.6    120      NaN
32      谯城区五马镇周于行政村夏庄19号  126  30.0   690    10    6.4    121      NaN
33   谯城区淝河镇张小行政村王桥自然村77号  135  40.0   980    10    5.3     96      NaN
34         谯城区风华社区张湖庄18号  133  34.0   690    10    8.5     88      NaN
35                谯城区芦庙镇  136  37.0   980    11    5.3     88      NaN
36      谯城区古井镇张集行政村探花楼5号  127  35.0  1120    10    8.5     89      NaN
37     谯城区华佗镇道东行政村刘大庄26户  128  36.0   980    10    5.3     96      NaN
38                  亳州一中  120  23.0  1120    11    8.5     88      NaN
39            谯城区淝河镇集文明街  131  35.0   980    11    7.6     88      NaN
40           谯城区颜集镇李沟行政村  123  25.0  1450    10    6.4     89      NaN
41     谯城区华佗镇黄庄行政村吕店村38户  124  23.0  1500    10    5.3     90      NaN
42     谯城区丁瓦行政村丁瓦自然村120号  133  35.0  1450    10    8.5    121      NaN
43       谯城区董家街一中家属院187户  126  30.0  1020    11    8.5     86      NaN
44          谯城区仁义街23号74户  135  40.0   980    10    6.4     90      NaN
45           谯城区颜集镇张庄村史庄  133  34.0   690    10    8.5     86      NaN
46      谯城区谯东镇余集行政村侯道村5户  136  37.0   980    11    5.3    120      NaN
47     谯城区史庄行政村丁庄自然村198号  124  23.0  1020    11    8.5     86      NaN
48    谯城区十九里镇马营行政村后马楼22号  133  35.0   980    10    7.6    120      NaN
49            谯城区丁胡同5号2户  126  30.0   690    10    6.4    121      NaN
50    谯城区丁瓦行政村丁瓦自然村1号12户  135  40.0   980    10    5.3     96      NaN
51        谯城区谯陵北路17号-12户  133  34.0   690    10    8.5     88      NaN
52        谯城区张姚庄行政村徐楼自然村  136  37.0   980    11    5.3     88      NaN

    50米×8往返跑
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
30       NaN
31       NaN
32       NaN
33       NaN
34       NaN
35       NaN
36       NaN
37       NaN
38       NaN
39       NaN
40       NaN
41       NaN
42       NaN
43       NaN
44       NaN
45       NaN
46       NaN
47       NaN
48       NaN
49       NaN
50       NaN
51       NaN
52       NaN
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []

In [132]:
df =pd.read_excel(r'D:\jupyter notebook\test\11.xlsx')
df
# df.set_index('出生日期',inplace=True)
# df.to_excel(r'D:\jupyter notebook\test\11.xlsx')

         出生日期  民族代码   姓名  性别
0  2008-06-24     1  肖梦雅   2
1  2008-10-23     1  夏恩修   1
2  2008-11-21     1  蒋依晨   1
3  2008-11-28     1  崔鸿正   1
4  2008-12-08     1  付诺诺   2
5  2008-12-10     1  李志豪   1
6  2008-12-17     1  朱欣雅   2
7  2009-01-07     1  刘沐阳   1
8  2009-01-18     1  刘璐璐   2
9  2009-01-24     1  潘星宇   1
10 2009-02-09     1  于子贻   2
11 2009-02-19     1  黄子涵   2
12 2009-02-19     1  邓诗雅   2
13 2009-02-22     1  宋佳恩   2

In [144]:
# 合并同一文件夹下工作薄名相似的所有工作表，这是最完整的一个

import numpy as np
import pandas as pd 
import datetime as dt

import glob,os
# runDir = r'D:\jupyter notebook\test\11.xlsx'
# if os.getcwd()!=runDir:
#     os.chdir(runDir)
files = glob.glob('11*.xlsx')

df =pd.DataFrame()

for each in files:
    sheets =pd.ExcelFile(each).sheet_names
    
    for sheet in sheets:
        df= df.append(pd.read_excel(each,sheet,index_col=0))

df.to_excel(r'D:\jupyter notebook\test\1111.xlsx',index=False)
df.shape

(29, 5)

# python pandas - 有条件地合并数据

In [1]:
import pandas as pd  
import numpy as np

df = pd.read_excel(r'D:\jupyter notebook\test\biao\site_routing_data.xlsx')
df

,circuit,errors,route,site,mask,next_hop,error
0,MPLS,None,10.10.1.0,Manchester,255.255.255.0,172.5.1.5,NaN
1,MPLS,None,10.10.2.0,London,255.255.255.0,172.5.1.5,NaN
2,None,None,10.10.3.0,Birmingham,255.255.255.0,172.5.1.5,NaN
3,MPLS,None,10.10.4.0,Sheffield,255.255.255.0,172.5.1.5,NaN

In [2]:
df1 = pd.read_excel(r'D:\jupyter notebook\test\biao\site_routing_data1.xlsx')
df1

,circuit,errors,route,site,mask,next_hop,error
0,FTTC,None,10.10.1.0,Manchester,255.255.255.0,172.10.1.6,NaN
1,FTTC,None,10.10.2.0,London,255.255.255.0,172.10.1.7,NaN
2,FTTC,None,10.10.3.0,Birmingham,255.255.255.0,172.10.1.8,NaN
3,FTTC,None,10.10.4.0,Sheffield,255.255.255.0,172.10.1.9,NaN

In [13]:
df.loc[df.circuit.isnull(),df.columns] = df1[df1.columns]

AttributeError: 'list' object has no attribute 'loc'

In [8]:
#python pandas 合并相同的 excel
#每个表的测试数据为，格式一样

# 步骤如下：

# 通过 pandas 读取每个 excel 到 dataframe
# 通过 pandas 将这些 dataframe 合并
# 将合并后的 dataframe 写到新的 excel


import pandas as pd
import tkinter as tk
from tkinter import filedialog
import pathlib 

#选择文件夹对话框
filedirectory=filedialog.askdirectory()

p1=pathlib.Path(filedirectory)
#找到路径下所有的xlsx格式文件
excles=p1.rglob('*.xlsx')
excelarr=[]
for eachexcel in excles:
    excelarr.append(eachexcel)

#合并数据
p1=pd.ExcelFile(excelarr[0])
mergedata1=p1.parse("Sheet1")
for i in range(1,len(excelarr)):
    tmp=pd.ExcelFile(excelarr[i])
    currentdata=tmp.parse("Sheet1")
    mergedata1=pd.concat([mergedata1,currentdata])


#写到excel
fname = tk.filedialog.asksaveasfilename(title=u'保存文件', filetypes=[("excel", ".xlsx")])
writerExcel=pd.ExcelWriter(fname+'.xlsx')
mergedata1.to_excel(writerExcel,'汇总表',index=False)
writerExcel.save();

print('sucess')

XLRDError: No sheet named <'Sheet1'>

# 我有一个具有 4 个工作表的 Excel 工作簿，它们的名称不同。我只想在变量中调用它们时将它们读入 pandas 数据帧sheet_names。例如，整个工作簿的工作表名称可以为['banana','orange','apple','grape']。每张纸都有 5 列，我想读入 Python。

In [ ]:
import pandas as pd

sheet_names =['grapes','orange'] #sheet_names is what I control... it can contain any number of sheets between 1 to 4.

xlsx = pd.ExcelFile('C:\\Users\\Ken\\Desktop\\Df.xlsx')

df = []

for x in sheet_names:
    df.append(xlsx.parse(sheetname=x,index_col=0,parse_cols='B:F'))
但是代码返回 len = 2 的列表。

所需的输出是具有 10 列的数据框。有什么帮助吗？

In [ ]:
解决方案
每次调用都会xlsx.parse()返回一个 DataFrame，您将其追加到df list。因此，在您的代码中df是 DF 的列表。如果要合并选定的图纸，可以使用 pd.concat（）方法：

df = pd.concat([xlsx.parse(sheetname=x,index_col=0,parse_cols='B:F') for x in sheet_names],
               axis=1,
               ignore_index=True)
PS，您可能想保留原始索引 - 在这种情况下，请更改ignore_index=True为ignore_index=False

In [10]:
import pandas as pd  
import numpy as np

df1 = pd.DataFrame({'cond': np.repeat([1,2], 5),
                    'point': np.tile(np.arange(1,6), 2),
                    'value1': np.random.rand(10),
                    'unused1': np.random.rand(10)})

In [11]:
df1

   cond  point    value1   unused1
0     1      1  0.977039  0.498971
1     1      2  0.568670  0.367395
2     1      3  0.325661  0.136305
3     1      4  0.239979  0.735805
4     1      5  0.514358  0.921663
5     2      1  0.686280  0.036568
6     2      2  0.402444  0.485104
7     2      3  0.725549  0.626449
8     2      4  0.898490  0.280953
9     2      5  0.481943  0.626586

In [12]:
df2 = pd.DataFrame({'cond': np.repeat([1,2], 10),
                    'point': np.tile(np.arange(1,6), 4),
                    'value2': np.random.rand(20)})

In [13]:
df2

    cond  point    value2
0      1      1  0.293675
1      1      2  0.806603
2      1      3  0.272650
3      1      4  0.050101
4      1      5  0.461081
5      1      1  0.432951
6      1      2  0.890098
7      1      3  0.715474
8      1      4  0.366461
9      1      5  0.643472
10     2      1  0.238018
11     2      2  0.324135
12     2      3  0.402236
13     2      4  0.939316
14     2      5  0.083398
15     2      1  0.312457
16     2      2  0.346661
17     2      3  0.755768
18     2      4  0.962231
19     2      5  0.594054

In [14]:
d1 = df1[['cond', 'point', 'value1']].rename(columns={'value1': 'new_column'})
df2.merge(d1, 'left')

    cond  point    value2  new_column
0      1      1  0.293675    0.977039
1      1      2  0.806603    0.568670
2      1      3  0.272650    0.325661
3      1      4  0.050101    0.239979
4      1      5  0.461081    0.514358
5      1      1  0.432951    0.977039
6      1      2  0.890098    0.568670
7      1      3  0.715474    0.325661
8      1      4  0.366461    0.239979
9      1      5  0.643472    0.514358
10     2      1  0.238018    0.686280
11     2      2  0.324135    0.402444
12     2      3  0.402236    0.725549
13     2      4  0.939316    0.898490
14     2      5  0.083398    0.481943
15     2      1  0.312457    0.686280
16     2      2  0.346661    0.402444
17     2      3  0.755768    0.725549
18     2      4  0.962231    0.898490
19     2      5  0.594054    0.481943

In [15]:
d1 = df1.set_index(['cond', 'point']).value1.unstack()
df2.assign(new_column=d1.lookup(df2.cond, df2.point))

    cond  point    value2  new_column
0      1      1  0.293675    0.977039
1      1      2  0.806603    0.568670
2      1      3  0.272650    0.325661
3      1      4  0.050101    0.239979
4      1      5  0.461081    0.514358
5      1      1  0.432951    0.977039
6      1      2  0.890098    0.568670
7      1      3  0.715474    0.325661
8      1      4  0.366461    0.239979
9      1      5  0.643472    0.514358
10     2      1  0.238018    0.686280
11     2      2  0.324135    0.402444
12     2      3  0.402236    0.725549
13     2      4  0.939316    0.898490
14     2      5  0.083398    0.481943
15     2      1  0.312457    0.686280
16     2      2  0.346661    0.402444
17     2      3  0.755768    0.725549
18     2      4  0.962231    0.898490
19     2      5  0.594054    0.481943

In [16]:
a = df1.value1.values.reshape(2, -1)
df2.assign(new_column=a[df2.cond.values - 1, df2.point.values - 1])

    cond  point    value2  new_column
0      1      1  0.293675    0.977039
1      1      2  0.806603    0.568670
2      1      3  0.272650    0.325661
3      1      4  0.050101    0.239979
4      1      5  0.461081    0.514358
5      1      1  0.432951    0.977039
6      1      2  0.890098    0.568670
7      1      3  0.715474    0.325661
8      1      4  0.366461    0.239979
9      1      5  0.643472    0.514358
10     2      1  0.238018    0.686280
11     2      2  0.324135    0.402444
12     2      3  0.402236    0.725549
13     2      4  0.939316    0.898490
14     2      5  0.083398    0.481943
15     2      1  0.312457    0.686280
16     2      2  0.346661    0.402444
17     2      3  0.755768    0.725549
18     2      4  0.962231    0.898490
19     2      5  0.594054    0.481943

In [17]:

import pandas as pd

df = pd.read_excel(r'D:\jupyter notebook\test\1111.xlsx')

df1 = list(df[df['ID']==1]['item'])
df2 = list(df[df['ID']==2]['item'])
df_new = pd.DataFrame([[1,df1],
                        [2,df2]],columns=['ID','itemsequence'])
df_new

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\jupyter notebook\\test\\1111.xlsx'

In [49]:
dd = df.groupby('ID').item.sum()
for i in dd:
    print(i)

abcd
DABCE

In [54]:
test_df = pd.DataFrame({'a':[1,1,3,2],'b':[1,4,6,9],'c':[1,4,8,12]})
g_df =test_df['c'].groupby([test_df['a'], test_df['b']]).sum()
c_df = pd.DataFrame(g_df)
c_df.reset_index(inplace=True)
c_df

   a  b   c
0  1  1   1
1  1  4   4
2  2  9  12
3  3  6   8

In [55]:
g_df =test_df['c'].groupby([test_df['a'], test_df['b']]).sum()
g_df

a  b
1  1     1
   4     4
2  9    12
3  6     8
Name: c, dtype: int64

In [56]:
b_df=pd.DataFrame(g_df)
b_df

      c
a b
1 1   1
  4   4
2 9  12
3 6   8

In [58]:
b_df.reset_index(inplace=True)
b_df

   a  b   c
0  1  1   1
1  1  4   4
2  2  9  12
3  3  6   8

# 要求下班前筛选出集团公司旗下最近一年销售额前五名的品牌以及销售额，该如何入手呢？一张张的看？

我看 python 教学视频的时候，老师说 python 就是模拟人类的动作进行自动化操作，把你的动作转换为计算机语言。

我们整理了一下程序思路：

计算每张表每一行的销售额，用 “访客数 * 转化率 * 客单价” 就行。
将每张表格根据品牌汇总销售额。
将所有表格的结果汇总成一张总表
在总表中根据品牌汇总销售额并排序这里提供我们这次模拟使用的一些数据表格

使用方法

将保存好的数据统计.py 的 python 脚本文件和要分析的带有数据表的文件夹放在一起，运行即可。这里有个小技巧，我们可以利用相对路径的知识，把 py 文件和要处理的数据放在一起，用相对路径的格式即可，就不用写完整路径了，比如这次案例的中的 for name in os.listdir ("./tables"):，，这里的./tables 就是都采用相对路径

In [ ]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
import pandas as pdimport os
#载入模块
result = pd.DataFrame()   
#创建一合并数据表的空数据表格
#下面的代码是进行for循环读取文件夹里的表格文件，for a in b可以解读为挨个读取b的文件赋值给a

for name in os.listdir("./tables"):    
    try:        
        df = pd.read_excel("./tables/" + name)      #打开第一个数据表格，这个name就是数据表的文件，前面的tables就是装数据表的文件夹路径        
        df['销售额'] = df['访客数'] * df['转化率'] * df['客单价']   #将每张表格根据品牌汇总销售额：        
        df_sum = df.groupby('品牌')['销售额'].sum().reset_index()   #将所有表格的结果汇总成一张总表：        
        result = pd.concat([result, df_sum])   #将所有表格的结果汇总成一张总表：    
        except:        
            print(name)        
            pass
final = result.groupby('品牌')['销售额'].sum().reset_index().sort_values('销售额', ascending=False)    #在总表中根据品牌汇总销售额并排序：
pd.set_option('display.float_format', lambda x: '%.2f' % x)    #将所有表格的结果汇总成一张总表：
print(final.head())

In [ ]:
#新建一个DataFrame用于存储汇总所有工作表的结果
result = pd.DataFrame()

#读取整个Excel文件中的所有表
df = pd.read_excel('日领料单.xlsx', header=2, sheet_name = None)
#按表名遍历，处理数据
for sheet_name in df.keys():    
#按物料编号加总领料数量
    df_sum = df[sheet_name].groupby(['物料编号','物料描述'])['批号批数量'].sum().reset_index()    

    result = pd.concat([result,df_sum])

result.head()

# 以上，df.keys() 存有所有工作表名，共 278 个。通过 for 循环逐个从其中取出名字，然后通过名字读取数据及汇总。
df.keys()
>>
odict_keys(['01-03', '01-04', '01-05', '01-07', '01-08', '01-09', '01-10', '01-11', '01-12', '01-14', '01-15', '01-16', '01-17', '01-18', '01-19', '01-21', '01-22', '01-23', '01-24', '01-25', '01-26', '01-28', '01-29', '01-30', '02-12', '02-13', '02-14', '02-15', '02-16', '02-18', '02-19', '02-20', '02-21', '02-22', '02-23', '02-25', '02-26', '02-27', '02-28', '03-04', '03-05', '03-06', '03-07', '03-10', '03-11', '03-12', '03-13', '03-14', '03-15', '03-16', '03-18', '03-19', '03-20', '03-21', '03-22', '03-23', '03-24', '03-25', '03-26', '03-27', '03-28', '03-29', '03-30', '04-02', '04-03', '04-04', '04-06', '04-09', '04-10', '04-11', '04-12', '04-13', '04-14', '04-15', '04-16', '04-17', '04-18', '04-19', '04-20', '04-21', '04-22', '04-23', '04-24', '04-25', '04-26', '04-27', '04-29', '04-30', '05-03', '05-04', '05-06', '05-07', '05-08', '05-09', '05-10', '05-11', '05-13', '05-14', '05-15', '05-16', '05-17', '05-20', '05-21', '05-22', '05-23', '05-24', '05-25', '05-27', '05-28', '05-29', '05-30', '05-31', '06-03', '06-04', '06-05', '06-06', '06-09', '06-10', '06-11', '06-12', '06-13', '06-14', '06-17', '06-18', '06-19', '06-20', '06-21', '06-22', '06-24', '06-25', '06-26', '06-27', '06-28', '07-01', '07-02', '07-03',
            '07-04', '07-05', '07-06', '07-07', '07-08', '07-09', '07-10', '07-11', '07-12', '07-15', '07-16', '07-17', '07-19', '07-22', '07-23', '07-24', '07-25', '07-26', '07-27', '07-29', '07-30', '07-31', '08-01', '08-02', '08-05', '08-06', '08-07', '08-08', '08-09', '08-10', '08-12', '08-13', '08-14', '08-15', '08-16', '08-17', '08-19', '08-20', '08-21', '08-22', '08-23', '08-24', '08-26', '08-27', '08-28', '08-29', '08-30', '08-31', '09-02', '09-03', '09-04', '09-05', '09-06', '09-07', '09-09', '09-10', '09-11', '09-12', '09-15', '09-16', '09-17', '09-19', '09-20', '09-21', '09-23', '09-24', '09-25', '09-26', '09-27', '09-28', '09-29', '10-05', '10-06', '10-08', '10-09', '10-10', '10-11', '10-12', '10-14', '10-15', '10-16', '10-17', '10-18', '10-21', '10-22', '10-23', '10-24', '10-25', '10-26', '10-28', '10-29', '10-30', '10-31', '11-01', '11-02', '11-04', '11-05', '11-06', '11-07', '11-08', '11-09', '11-11', '11-12', '11-13', '11-14', '11-15', '11-16', '11-18', '11-19', '11-20', '11-21', '11-22', '11-23', '11-25', '11-26', '11-27', '11-28', '11-29', '11-30', '12-02', '12-03', '12-04', '12-05', '12-06', '12-07', '12-09', '12-10', '12-11', '12-12', '12-13', '12-14', '12-16', '12-17', '12-18', '12-19', '12-20', 
            '12-21', '12-23', '12-24', '12-25', '12-26', '12-28'])

# 数据汇总在一起后，需要再最后分类汇总一下 (因为每天领取的物料是有重复的，需要将相同物料编号对应的数量加总)，
# 并降序排序。最终得到领用量最多的 10 个物料。

final = result.groupby(['物料编号','物料描述'])['批号批数量'].sum().reset_index().sort_values('批号批数量',ascending = False)
final.head(10)

final.to_excel("汇总.xlsx")

In [59]:
import pandas as pd

s = pd.Series([1, 2, 3, 4])
df = pd.DataFrame({
    0: [10, 20, 30, 40],
    1: [50, 60, 70, 80],
    2: [90, 100, 110, 120],
    3: [130, 140, 150, 160]
})

df + s

    0   1    2    3
0  11  52   93  134
1  21  62  103  144
2  31  72  113  154
3  41  82  123  164

In [186]:
import pandas as pd
import os,glob



path = r'D:\jupyter notebook\test\*.xls'
files = glob.glob(path)
# files = os.listdir(path)
# print(files)
df =pd.DataFrame()
for each in files:
    sheets =pd.ExcelFile(each).sheet_names
    for sheet in sheets:
        df=df.append(pd.read_excel(each,sheet,index_col=0))
        
df.to_excel(r'D:\jupyter notebook\test\1111.xlsx',index=False)
df.shape

(542, 30)

In [136]:
import pandas as pd

excel_reader=pd.ExcelFile(r'D:\jupyter notebook\test\21体侧数据模板.xls')  # 指定文件
sheet_names = excel_reader.sheet_names  # 读取文件的所有表单名，得到列表
df_data =  excel_reader.parse(sheet_name=sheet_names[1])
df_data

,年级编号,班级编号,班级名称,学籍号,民族代码,姓名,性别,出生日期,家庭住址,肺活量,50米跑,坐位体前屈,一分钟跳绳,一分钟仰卧起坐,50米×8往返跑
0,12,1479781027427,（1）11111班,G34160220081223017X,1,王嘉豪,1,2008-12-23,安徽省亳州市谯城区丰水源居委会李场18号,1450,11,5.3,96,NaN,NaN
1,12,1479781027427,（1）班,L341602200808110271,1,刘俊卿,1,2008-08-11,华佗镇朱店,980,10,8.5,88,NaN,NaN
2,12,1479781027427,（1）班,L341602200808280414,1,鲁加鑫,1,2008-08-28,谯东镇前鲁庄,690,10,8.5,88,NaN,NaN
3,12,1479781027427,（1）班,L341602200810190338,1,周佳政,1,2008-10-19,谯城区丰水源,980,11,8.5,89,NaN,NaN
4,12,1479781027427,（1）班,L3416022008111302D2,1,金浩然,1,2008-11-13,五马镇红庙,690,11,6.4,90,NaN,NaN
5,12,1479781027427,（1）班,L341602200812090234,1,石国强,1,2008-12-09,华佗镇王路口,980,10,5.3,86,NaN,NaN
6,12,1479781027427,（1）班,L3416022008121301F4,1,位博,1,2008-12-13,张店乡魏庄,1120,10,8.5,120,NaN,NaN
7,12,1479781027427,（1）班,L3416022009010500D3,1,李晨,1,2009-01-05,谯东镇李楼,980,10,7.6,121,NaN,NaN
8,12,1479781027427,（1）班,L341602200901090199,1,刘子皓,1,2009-01-09,谯城区丰水源,1450,10,6.4,86,NaN,NaN
9,12,1479781027427,（1）班,L341602200901280195,1,陈可可,1,2009-01-28,古井镇小刘村,980,10,5.3,90,NaN,NaN
10,12,1479781027427,（1）班,L3416022009020600B4,1,李子龙,1,2009-02-06,颜集镇李沟村,1120,11,8.5,86,NaN,NaN
11,12,1479781027427,（1）班,L3416022009022500D7,1,李智博,1,2009-02-25,观堂镇李庄,980,10,7.6,120,NaN,NaN
12,12,1479781027427,（1）班,L34160220090320011X,1,徐赫萌,1,2009-03-20,谯城区东寨外,1450,10,6.4,121,NaN,NaN
13,12,1479781027427,（1）班,L341602200903290098,1,赵吴迪,1,2009-03-29,芦庙镇张菜行村,1500,11,5.3,96,NaN,NaN
14,12,1479781027427,（1）班,L3416022009040500D9,1,张星亮,1,2009-04-05,谯城区东寨外,1450,11,8.5,88,NaN,NaN
15,12,1479781027427,（1）班,L341602200904070038,1,侯佳润,1,2009-04-07,华佗镇岳庄,1020,10,8.5,88,NaN,NaN
16,12,1479781027427,（1）班,L3416022009041500B3,1,魏聪,1,2009-04-15,谯城区仁和街,980,10,6.4,89,NaN,NaN
17,12,1479781027427,（1）班,L341602200904200074,1,王一晨,1,2009-04-20,谯东镇前王路口,690,10,5.3,96,NaN,NaN
18,12,1479781027427,（1）班,L3416022009050400B9,1,石金成,1,2009-05-04,谯城区汤陵南路,980,11,8.5,88,NaN,NaN
19,12,1479781027427,（1）班,L3416022009050600F2,1,何子豪,1,2009-05-06,谯城区五马镇何庄,690,10,8.5,88,NaN,NaN
20,12,1479781027427,（1）班,L341602200905210012,1,王誉衡,1,2009-05-21,谯城区丰水源,980,10,8.5,89,NaN,NaN
21,12,1479781027427,（1）班,L3416022009052800D9,1,王子明,1,2009-05-28,华佗镇大王村,1120,10,6.4,90,NaN,NaN
22,12,1479781027427,（1）班,L341602200907010057,1,支涵宇,1,2009-07-01,张店乡支寨,980,10,5.3,86,NaN,NaN
23,12,1479781027427,（1）班,L341602200907040096,1,李承俊,1,2009-07-04,覌堂镇李桥村,1450,11,8.5,120,NaN,NaN
24,12,1479781027427,（1）班,L341602200907140177,1,李雨衡,1,2009-07-14,谯城区东寨外,1500,10,7.6,121,NaN,NaN
25,12,1479781027427,（1）班,L3416022009081600F9,1,王浩,1,2009-08-16,观堂镇王楼村,1450,10,6.4,86,NaN,NaN
26,12,1479781027427,（1）班,L341602200909080091,1,丁子博,1,2009-09-08,张店乡丁庄,1020,11,5.3,90,NaN,NaN
27,12,1479781027427,（1）班,L341602200910290096,1,魏晨阳,1,2009-10-29,谯东镇大魏庄,980,11,8.5,86,NaN,NaN
28,12,1479781027427,（1）班,L341602200912230070,1,吴东昌,1,2009-12-23,谯城区交通局家属院,690,10,8.5,120,NaN,NaN
29,12,1479781027427,（1）班,L341602200802260324,1,李玲,2,2008-02-26,谯城区航运公司,980,10,6.4,121,NaN,NaN
30,12,1479781027427,（1）班,L341602200810190207,1,孙小悦,2,2008-10-19,谯城区明家湾行政村牛庄,1120,11,5.3,96,NaN,NaN
31,12,1479781027427,（1）班,L341602200810200380,1,崔辰雨,2,2008-10-20,谯东镇大崔庄,980,11,8.5,88,NaN,NaN
32,12,1479781027427,（1）班,L341602200810200444,1,崔雨辰,2,2008-10-20,谯东镇辛集行政村大崔村42号,1450,10,7.6,88,NaN,NaN
33,12,1479781027427,（1）班,L3416022008121601AX,1,田文宁,2,2008-12-16,五马镇田桥,1500,10,6.4,89,NaN,NaN
34,12,1479781027427,（1）班,L3416022008122101A3,1,刘梦飞,2,2008-12-21,谯城区五马镇温楼,1450,10,5.3,90,NaN,NaN
35,12,1479781027427,（1）班,L3416022008122700E2,1,宋紫璇,2,2008-12-27,谯东镇东宋店,1020,11,8.5,86,NaN,NaN
36,12,1479781027427,（1）班,L341602200901100123,1,张梓洋,2,2009-01-10,NaN,980,10,7.6,120,NaN,NaN
37,12,1479781027427,（1）班,L3416022009021200E8,1,韩恩熙,2,2009-02-12,谯城区风华社区,690,10,6.4,121,NaN,NaN
38,12,1479781027427,（1）班,L341602200902160064,1,罗子璇,2,2009-02-16,谯城区师范家属院,980,10,5.3,96,NaN,NaN
39,12,1479781027427,（1）班,L3416022009042102EX,1,徐笑笑,2,2009-04-21,状元楼,690,10,8.5,88,NaN,NaN
40,12,1479781027427,（1）班,L341602200904260122,1,李子衿,2,2009-04-26,谯城区驴市街,980,11,5.3,88,NaN,NaN
41,12,1479781027427,（1）班,L34160220090428006X,1,王雅茹,2,2009-04-28,谯城区药都桂花园,1120,10,8.5,89,NaN,NaN
42,12,1479781027427,（1）班,L3416022009050200C6,1,崔龙依,2,2009-05-02,谯东镇梁庄,980,10,5.3,96,NaN,NaN
43,12,1479781027427,（1）班,L341602200905060042,1,杜宣睿,2,2009-05-06,芦庙镇后杜寨,1120,11,8.5,88,NaN,NaN
44,12,1479781027427,（1）班,L3416022009050700A7,1,何雨彤,2,2009-05-07,四川省阆中市石龙镇龙狮村,980,11,7.6,88,NaN,NaN
45,12,1479781027427,（1）班,L3416022009052800A4,1,李紫莹,2,2009-05-28,五马张吴小阁行政村,1450,10,6.4,89,NaN,NaN
46,12,1479781027427,（1）班,L3416022009060600A3,1,闫星月,2,2009-06-06,谯城区史庄,1500,10,5.3,90,NaN,NaN
47,12,1479781027427,（1）班,L341602200906110064,1,赵文多,2,2009-06-11,谯城区古泉路马园村,1450,10,8.5,121,NaN,NaN
48,12,1479781027427,（1）班,L341602200906110080,1,李慧冉,2,2009-06-11,谯城区胡庄行政村胡庄,1020,11,8.5,86,NaN,NaN
49,12,1479781027427,（1）班,L3416022009063000CX,1,郭喜悦,2,2009-06-30,颜集镇郭庄,980,10,6.4,90,NaN,NaN
50,12,1479781027427,（1）班,L3416022009070901A8,1,李隆珍,2,2009-07-09,NaN,690,10,8.5,86,NaN,NaN
51,12,1479781027427,（1）班,L341602200907140046,1,丁佳梦,2,2009-07-14,谯城区丁瓦,980,11,5.3,120,NaN,NaN
52,12,1479781027427,（1）班,L341602200907300142,1,李思宇,2,2009-07-30,谯城区望龙社区王大庄,690,11,8.5,121,NaN,NaN
53,12,1479781027427,（1）班,L341602200908060080,1,段柯欣,2,2009-08-06,谯城区玉帝庙,980,10,5.3,96,NaN,NaN
54,12,1479781027427,（1）班,L3416022009091700C1,1,胡潇予,2,2009-09-17,河南省永城市卧龙乡余庄村胡庄,1120,10,8.5,88,NaN,NaN
55,12,1479781027427,（1）班,L341602200910010082,1,刘阅,2,2009-10-01,谯城区刘花行政村,980,11,7.6,88,NaN,NaN
56,12,1479781027427,（1）班,L3416022009100600E9,1,时梦雪,2,2009-10-06,张店乡时庄,1020,11,6.4,89,NaN,NaN
57,12,1479781027427,（1）班,L341602200910140266,1,张子言,2,2009-10-14,NaN,980,10,5.3,90,NaN,NaN
58,12,1479781027427,（1）班,L341602200911280068,1,范艺薷,2,2009-11-28,谯城区丰水源,690,10,6.4,121,NaN,NaN

In [215]:
# 这是自己写出来的，必须得用glob,否则会出错找不到文件路径

path = r'D:\jupyter notebook\test\*'
files = glob.glob(path)
df = pd.DataFrame()
for f in files:
    data = pd.ExcelFile(f)
    data1=data.sheet_names
    for sheet in data1:
        data2=data.parse(sheet)
        df=df.append(data2)
        df.to_excel(r'D:\jupyter notebook\test\1000.xlsx',index=False)
# print("done!")

# df = pd.DataFrame()
# for each_excel in files:
#     readexcel = pd.read_excel(each_excel,sheet_name=None)
#     print(each_excel)
#     for sheetnames in read_excel.sheet_name:
#         df.append(sheetnames)
#         print(df)

In [226]:
# 读取所有Sheet
df = pd.read_excel(r'D:\jupyter notebook\test\合并文件.xlsx', sheet_name=None)
# print(list(df.keys()))
for i in df.values():
    i = i.to_dict()
    print(i)

{'年级编号': {0: 12, 1: 12, 2: 12, 3: 12, 4: 12, 5: 12, 6: 12, 7: 12, 8: 12, 9: 12, 10: 12, 11: 12, 12: 12, 13: 12, 14: 12, 15: 12, 16: 12, 17: 12, 18: 12, 19: 12, 20: 12, 21: 12, 22: 12, 23: 12, 24: 12, 25: 12, 26: 12, 27: 12, 28: 12, 29: 12, 30: 12, 31: 12, 32: 12, 33: 12, 34: 12, 35: 12, 36: 12, 37: 12, 38: 12, 39: 12, 40: 12, 41: 12, 42: 12, 43: 12, 44: 12, 45: 12, 46: 12, 47: 12, 48: 12, 49: 12, 50: 12, 51: 12, 52: 12, 53: 12, 54: 12, 55: 12, 56: 12, 57: 12, 58: 12, 59: 12, 60: 12, 61: 12, 62: 12, 63: 12, 64: 12, 65: 12, 66: 12, 67: 12, 68: 12, 69: 12, 70: 12, 71: 12, 72: 12, 73: 12, 74: 12, 75: 12, 76: 12, 77: 12, 78: 12, 79: 12, 80: 12, 81: 12, 82: 12, 83: 12, 84: 12, 85: 12, 86: 12, 87: 12, 88: 12, 89: 12, 90: 12, 91: 12, 92: 12, 93: 12, 94: 12, 95: 12, 96: 12, 97: 12, 98: 12, 99: 12, 100: 12, 101: 12, 102: 12, 103: 12, 104: 12, 105: 12, 106: 12, 107: 12, 108: 12, 109: 12, 110: 12, 111: 12, 112: 12, 113: 12, 114: 12, 115: 12, 116: 12, 117: 12, 118: 12, 119: 12, 120: 12, 121: 12, 122: 12, 123: 12, 124: 12, 125: 12, 126: 12, 127: 12, 128: 12, 129: 12, 130: 12, 131: 12, 132: 12, 133: 12, 134: 12, 135: 12, 136: 12, 137: 12, 138: 12, 139: 12, 140: 12, 141: 12, 142: 12, 143: 12, 144: 12, 145: 12, 146: 12, 147: 12, 148: 12, 149: 12, 150: 12, 151: 12, 152: 12, 153: 12, 154: 12, 155: 12, 156: 12, 157: 12, 158: 12, 159: 12, 160: 12, 161: 12, 162: 12, 163: 12, 164: 12, 165: 12, 166: 12, 167: 12, 168: 12, 169: 12, 170: 12, 171: 12, 172: 12, 173: 12, 174: 12, 175: 12, 176: 12, 177: 12, 178: 12, 179: 12, 180: 12, 181: 12, 182: 12, 183: 12, 184: 12, 185: 12, 186: 12, 187: 12, 188: 12, 189: 12, 190: 12, 191: 12, 192: 12, 193: 12, 194: 12, 195: 12, 196: 12, 197: 12, 198: 12, 199: 12, 200: 12, 201: 12, 202: 12, 203: 12, 204: 12, 205: 12, 206: 12, 207: 12, 208: 12, 209: 12, 210: 12, 211: 12, 212: 12, 213: 12, 214: 12, 215: 12, 216: 12, 217: 12, 218: 12, 219: 12, 220: 12, 221: 12, 222: 12, 223: 12, 224: 12, 225: 12, 226: 12, 227: 12, 228: 12, 229: 12, 230: 12, 231: 12, 232: 12, 233: 12, 234: 12, 235: 12, 236: 12, 237: 12, 238: 12, 239: 12, 240: 12, 241: 12, 242: 12, 243: 12, 244: 12, 245: 12, 246: 12, 247: 12, 248: 12, 249: 12, 250: 12, 251: 12, 252: 12, 253: 12, 254: 12, 255: 12, 256: 12, 257: 12, 258: 12, 259: 12, 260: 12, 261: 12, 262: 12, 263: 12, 264: 12, 265: 12, 266: 12, 267: 12, 268: 12, 269: 12, 270: 12, 271: 12, 272: 12, 273: 12, 274: 12, 275: 12, 276: 12, 277: 12, 278: 12, 279: 12, 280: 12, 281: 12, 282: 12, 283: 12, 284: 12, 285: 12, 286: 12, 287: 12, 288: 12, 289: 12, 290: 12, 291: 12, 292: 12, 293: 12, 294: 12, 295: 12, 296: 12, 297: 12, 298: 12, 299: 12, 300: 12, 301: 12, 302: 12, 303: 12, 304: 12, 305: 12, 306: 12, 307: 12, 308: 12, 309: 12, 310: 12, 311: 12, 312: 12, 313: 12, 314: 12, 315: 12, 316: 12, 317: 12, 318: 12, 319: 12, 320: 12, 321: 12, 322: 12, 323: 12, 324: 12, 325: 12, 326: 12, 327: 12, 328: 12, 329: 12, 330: 12, 331: 12, 332: 12, 333: 12, 334: 12, 335: 12, 336: 12, 337: 12, 338: 12, 339: 12, 340: 12, 341: 12, 342: 12, 343: 12, 344: 12, 345: 12, 346: 12, 347: 12, 348: 12, 349: 12, 350: 12, 351: 12, 352: 12, 353: 12, 354: 12, 355: 12, 356: 12, 357: 12, 358: 12, 359: 12, 360: 12, 361: 12, 362: 12, 363: 12, 364: 12, 365: 12, 366: 12, 367: 12, 368: 12, 369: 12, 370: 12, 371: 12, 372: 12, 373: 12, 374: 12, 375: 12, 376: 12, 377: 12, 378: 12, 379: 12, 380: 12, 381: 12, 382: 12, 383: 12, 384: 12, 385: 12, 386: 12, 387: 12, 388: 12, 389: 12, 390: 12, 391: 12, 392: 12, 393: 12, 394: 12, 395: 12, 396: 12, 397: 12, 398: 12, 399: 12, 400: 12, 401: 12, 402: 12, 403: 12, 404: 12, 405: 12, 406: 12, 407: 12, 408: 12, 409: 12, 410: 12, 411: 12, 412: 12, 413: 12, 414: 12, 415: 12, 416: 12, 417: 12, 418: 12, 419: 12, 420: 12, 421: 12, 422: 12, 423: 12, 424: 12, 425: 12, 426: 12, 427: 12, 428: 12, 429: 12}, '班级编号': {0: 1479781027427, 1: 1479781027427, 2: 1479781027427, 3: 1479781027427, 4: 1479781027427, 5: 1479781027427, 6: 1479781027427, 7: 1479781027427, 8: 1479781027427, 9: 1479781027427, 10: 1479781027427, 11: 1479781027427, 12: 1479781027427, 13: 1479781027427, 14: 1479781027427, 15: 1479781027427, 16: 1479781027427, 17: 1479781027427, 18: 1479781027427, 19: 1479781027427, 20: 1479781027427, 21: 1479781027427, 22: 1479781027427, 23: 1479781027427, 24: 1479781027427, 25: 1479781027427, 26: 1479781027427, 27: 1479781027427, 28: 1479781027427, 29: 1479781027427, 30: 1479781027427, 31: 1479781027427, 32: 1479781027427, 33: 1479781027427, 34: 1479781027427, 35: 1479781027427, 36: 1479781027427, 37: 1479781027427, 38: 1479781027427, 39: 1479781027427, 40: 1479781027427, 41: 1479781027427, 42: 1479781027427, 43: 1479781027427, 44: 1479781027427, 45: 1479781027427, 46: 1479781027427, 47: 1479781027427, 48: 1479781027427, 49: 1479781027427, 50: 1479781027427, 51: 1479781027427, 52: 1479781027427, 53: 1479781027427, 54: 1479781027427, 55: 1479781027427, 56: 1479781027427, 57: 1479781027427, 58: 1479781027427, 59: 1479781027502, 60: 1479781027502, 61: 1479781027502, 62: 1479781027502, 63: 1479781027502, 64: 1479781027502, 65: 1479781027502, 66: 1479781027502, 67: 1479781027502, 68: 1479781027502, 69: 1479781027502, 70: 1479781027502, 71: 1479781027502, 72: 1479781027502, 73: 1479781027502, 74: 1479781027502, 75: 1479781027502, 76: 1479781027502, 77: 1479781027502, 78: 1479781027502, 79: 1479781027502, 80: 1479781027502, 81: 1479781027502, 82: 1479781027502, 83: 1479781027502, 84: 1479781027502, 85: 1479781027502, 86: 1479781027502, 87: 1479781027502, 88: 1479781027502, 89: 1479781027502, 90: 1479781027502, 91: 1479781027502, 92: 1479781027502, 93: 1479781027502, 94: 1479781027502, 95: 1479781027502, 96: 1479781027502, 97: 1479781027502, 98: 1479781027502, 99: 1479781027502, 100: 1479781027502, 101: 1479781027502, 102: 1479781027502, 103: 1479781027502, 104: 1479781027502, 105: 1479781027502, 106: 1479781027502, 107: 1479781027502, 108: 1479781027502, 109: 1479781027502, 110: 1479781027502, 111: 1479781027502, 112: 1479781027535, 113: 1479781027535, 114: 1479781027535, 115: 1479781027535, 116: 1479781027535, 117: 1479781027535, 118: 1479781027535, 119: 1479781027535, 120: 1479781027535, 121: 1479781027535, 122: 1479781027535, 123: 1479781027535, 124: 1479781027535, 125: 1479781027535, 126: 1479781027535, 127: 1479781027535, 128: 1479781027535, 129: 1479781027535, 130: 1479781027535, 131: 1479781027535, 132: 1479781027535, 133: 1479781027535, 134: 1479781027535, 135: 1479781027535, 136: 1479781027535, 137: 1479781027535, 138: 1479781027535, 139: 1479781027535, 140: 1479781027535, 141: 1479781027535, 142: 1479781027535, 143: 1479781027535, 144: 1479781027535, 145: 1479781027535, 146: 1479781027535, 147: 1479781027535, 148: 1479781027535, 149: 1479781027535, 150: 1479781027535, 151: 1479781027535, 152: 1479781027535, 153: 1479781027535, 154: 1479781027535, 155: 1479781027535, 156: 1479781027535, 157: 1479781027535, 158: 1479781027535, 159: 1479781027535, 160: 1479781027535, 161: 1479781027535, 162: 1479781027535, 163: 1479781027535, 164: 1479781027535, 165: 1479781027580, 166: 1479781027580, 167: 1479781027580, 168: 1479781027580, 169: 1479781027580, 170: 1479781027580, 171: 1479781027580, 172: 1479781027580, 173: 1479781027580, 174: 1479781027580, 175: 1479781027580, 176: 1479781027580, 177: 1479781027580, 178: 1479781027580, 179: 1479781027580, 180: 1479781027580, 181: 1479781027580, 182: 1479781027580, 183: 1479781027580, 184: 1479781027580, 185: 1479781027580, 186: 1479781027580, 187: 1479781027580, 188: 1479781027580, 189: 1479781027580, 190: 1479781027580, 191: 1479781027580, 192: 1479781027580, 193: 1479781027580, 194: 1479781027580, 195: 1479781027580, 196: 1479781027580, 197: 1479781027580, 198: 1479781027580, 199: 1479781027580, 200: 1479781027580, 201: 1479781027580, 202: 1479781027580, 203: 1479781027580, 204: 1479781027580, 205: 1479781027580, 206: 1479781027580, 207: 1479781027580, 208: 1479781027580, 209: 1479781027580, 210: 1479781027580, 211: 1479781027580, 212: 1479781027580, 213: 1479781027580, 214: 1479781027580, 215: 1479781027580, 216: 1479781027580, 217: 1479781027580, 218: 1479781027620, 219: 1479781027620, 220: 1479781027620, 221: 1479781027620, 222: 1479781027620, 223: 1479781027620, 224: 1479781027620, 225: 1479781027620, 226: 1479781027620, 227: 1479781027620, 228: 1479781027620, 229: 1479781027620, 230: 1479781027620, 231: 1479781027620, 232: 1479781027620, 233: 1479781027620, 234: 1479781027620, 235: 1479781027620, 236: 1479781027620, 237: 1479781027620, 238: 1479781027620, 239: 1479781027620, 240: 1479781027620, 241: 1479781027620, 242: 1479781027620, 243: 1479781027620, 244: 1479781027620, 245: 1479781027620, 246: 1479781027620, 247: 1479781027620, 248: 1479781027620, 249: 1479781027620, 250: 1479781027620, 251: 1479781027620, 252: 1479781027620, 253: 1479781027620, 254: 1479781027620, 255: 1479781027620, 256: 1479781027620, 257: 1479781027620, 258: 1479781027620, 259: 1479781027620, 260: 1479781027620, 261: 1479781027620, 262: 1479781027620, 263: 1479781027620, 264: 1479781027620, 265: 1479781027620, 266: 1479781027620, 267: 1479781027620, 268: 1479781027620, 269: 1479781027620, 270: 1479781027620, 271: 1479781027620, 272: 1479781027620, 273: 1479781027620, 274: 1479781027677, 275: 1479781027677, 276: 1479781027677, 277: 1479781027677, 278: 1479781027677, 279: 1479781027677, 280: 1479781027677, 281: 1479781027677, 282: 1479781027677, 283: 1479781027677, 284: 1479781027677, 285: 1479781027677, 286: 1479781027677, 287: 1479781027677, 288: 1479781027677, 289: 1479781027677, 290: 1479781027677, 291: 1479781027677, 292: 1479781027677, 293: 1479781027677, 294: 1479781027677, 295: 1479781027677, 296: 1479781027677, 297: 1479781027677, 298: 1479781027677, 299: 1479781027677, 300: 1479781027677, 301: 1479781027677, 302: 1479781027677, 303: 1479781027677, 304: 1479781027677, 305: 1479781027677, 306: 1479781027677, 307: 1479781027677, 308: 1479781027677, 309: 1479781027677, 310: 1479781027677, 311: 1479781027677, 312: 1479781027677, 313: 1479781027677, 314: 1479781027677, 315: 1479781027677, 316: 1479781027677, 317: 1479781027677, 318: 1479781027677, 319: 1479781027677, 320: 1479781027677, 321: 1479781027677, 322: 1479781027677, 323: 1479781027730, 324: 1479781027730, 325: 1479781027730, 326: 1479781027730, 327: 1479781027730, 328: 1479781027730, 329: 1479781027730, 330: 1479781027730, 331: 1479781027730, 332: 1479781027730, 333: 1479781027730, 334: 1479781027730, 335: 1479781027730, 336: 1479781027730, 337: 1479781027730, 338: 1479781027730, 339: 1479781027730, 340: 1479781027730, 341: 1479781027730, 342: 1479781027730, 343: 1479781027730, 344: 1479781027730, 345: 1479781027730, 346: 1479781027730, 347: 1479781027730, 348: 1479781027730, 349: 1479781027730, 350: 1479781027730, 351: 1479781027730, 352: 1479781027730, 353: 1479781027730, 354: 1479781027730, 355: 1479781027730, 356: 1479781027730, 357: 1479781027730, 358: 1479781027730, 359: 1479781027730, 360: 1479781027730, 361: 1479781027730, 362: 1479781027730, 363: 1479781027730, 364: 1479781027730, 365: 1479781027730, 366: 1479781027730, 367: 1479781027730, 368: 1479781027730, 369: 1479781027730, 370: 1479781027730, 371: 1479781027730, 372: 1479781027730, 373: 1479781027730, 374: 1479781027730, 375: 1479781027730, 376: 1479781027730, 377: 1479781027767, 378: 1479781027767, 379: 1479781027767, 380: 1479781027767, 381: 1479781027767, 382: 1479781027767, 383: 1479781027767, 384: 1479781027767, 385: 1479781027767, 386: 1479781027767, 387: 1479781027767, 388: 1479781027767, 389: 1479781027767, 390: 1479781027767, 391: 1479781027767, 392: 1479781027767, 393: 1479781027767, 394: 1479781027767, 395: 1479781027767, 396: 1479781027767, 397: 1479781027767, 398: 1479781027767, 399: 1479781027767, 400: 1479781027767, 401: 1479781027767, 402: 1479781027767, 403: 1479781027767, 404: 1479781027767, 405: 1479781027767, 406: 1479781027767, 407: 1479781027767, 408: 1479781027767, 409: 1479781027767, 410: 1479781027767, 411: 1479781027767, 412: 1479781027767, 413: 1479781027767, 414: 1479781027767, 415: 1479781027767, 416: 1479781027767, 417: 1479781027767, 418: 1479781027767, 419: 1479781027767, 420: 1479781027767, 421: 1479781027767, 422: 1479781027767, 423: 1479781027767, 424: 1479781027767, 425: 1479781027767, 426: 1479781027767, 427: 1479781027767, 428: 1479781027767, 429: 1479781027767}, '班级名称': {0: '（1）班', 1: '（1）班', 2: '（1）班', 3: '（1）班', 4: '（1）班', 5: '（1）班', 6: '（1）班', 7: '（1）班', 8: '（1）班', 9: '（1）班', 10: '（1）班', 11: '（1）班', 12: '（1）班', 13: '（1）班', 14: '（1）班', 15: '（1）班', 16: '（1）班', 17: '（1）班', 18: '（1）班', 19: '（1）班', 20: '（1）班', 21: '（1）班', 22: '（1）班', 23: '（1）班', 24: '（1）班', 25: '（1）班', 26: '（1）班', 27: '（1）班', 28: '（1）班', 29: '（1）班', 30: '（1）班', 31: '（1）班', 32: '（1）班', 33: '（1）班', 34: '（1）班', 35: '（1）班', 36: '（1）班', 37: '（1）班', 38: '（1）班', 39: '（1）班', 40: '（1）班', 41: '（1）班', 42: '（1）班', 43: '（1）班', 44: '（1）班', 45: '（1）班', 46: '（1）班', 47: '（1）班', 48: '（1）班', 49: '（1）班', 50: '（1）班', 51: '（1）班', 52: '（1）班', 53: '（1）班', 54: '（1）班', 55: '（1）班', 56: '（1）班', 57: '（1）班', 58: '（1）班', 59: '（2）班', 60: '（2）班', 61: '（2）班', 62: '（2）班', 63: '（2）班', 64: '（2）班', 65: '（2）班', 66: '（2）班', 67: '（2）班', 68: '（2）班', 69: '（2）班', 70: '（2）班', 71: '（2）班', 72: '（2）班', 73: '（2）班', 74: '（2）班', 75: '（2）班', 76: '（2）班', 77: '（2）班', 78: '（2）班', 79: '（2）班', 80: '（2）班', 81: '（2）班', 82: '（2）班', 83: '（2）班', 84: '（2）班', 85: '（2）班', 86: '（2）班', 87: '（2）班', 88: '（2）班', 89: '（2）班', 90: '（2）班', 91: '（2）班', 92: '（2）班', 93: '（2）班', 94: '（2）班', 95: '（2）班', 96: '（2）班', 97: '（2）班', 98: '（2）班', 99: '（2）班', 100: '（2）班', 101: '（2）班', 102: '（2）班', 103: '（2）班', 104: '（2）班', 105: '（2）班', 106: '（2）班', 107: '（2）班', 108: '（2）班', 109: '（2）班', 110: '（2）班', 111: '（2）班', 112: '（3）班', 113: '（3）班', 114: '（3）班', 115: '（3）班', 116: '（3）班', 117: '（3）班', 118: '（3）班', 119: '（3）班', 120: '（3）班', 121: '（3）班', 122: '（3）班', 123: '（3）班', 124: '（3）班', 125: '（3）班', 126: '（3）班', 127: '（3）班', 128: '（3）班', 129: '（3）班', 130: '（3）班', 131: '（3）班', 132: '（3）班', 133: '（3）班', 134: '（3）班', 135: '（3）班', 136: '（3）班', 137: '（3）班', 138: '（3）班', 139: '（3）班', 140: '（3）班', 141: '（3）班', 142: '（3）班', 143: '（3）班', 144: '（3）班', 145: '（3）班', 146: '（3）班', 147: '（3）班', 148: '（3）班', 149: '（3）班', 150: '（3）班', 151: '（3）班', 152: '（3）班', 153: '（3）班', 154: '（3）班', 155: '（3）班', 156: '（3）班', 157: '（3）班', 158: '（3）班', 159: '（3）班', 160: '（3）班', 161: '（3）班', 162: '（3）班', 163: '（3）班', 164: '（3）班', 165: '（4）班', 166: '（4）班', 167: '（4）班', 168: '（4）班', 169: '（4）班', 170: '（4）班', 171: '（4）班', 172: '（4）班', 173: '（4）班', 174: '（4）班', 175: '（4）班', 176: '（4）班', 177: '（4）班', 178: '（4）班', 179: '（4）班', 180: '（4）班', 181: '（4）班', 182: '（4）班', 183: '（4）班', 184: '（4）班', 185: '（4）班', 186: '（4）班', 187: '（4）班', 188: '（4）班', 189: '（4）班', 190: '（4）班', 191: '（4）班', 192: '（4）班', 193: '（4）班', 194: '（4）班', 195: '（4）班', 196: '（4）班', 197: '（4）班', 198: '（4）班', 199: '（4）班', 200: '（4）班', 201: '（4）班', 202: '（4）班', 203: '（4）班', 204: '（4）班', 205: '（4）班', 206: '（4）班', 207: '（4）班', 208: '（4）班', 209: '（4）班', 210: '（4）班', 211: '（4）班', 212: '（4）班', 213: '（4）班', 214: '（4）班', 215: '（4）班', 216: '（4）班', 217: '（4）班', 218: '（5）班', 219: '（5）班', 220: '（5）班', 221: '（5）班', 222: '（5）班', 223: '（5）班', 224: '（5）班', 225: '（5）班', 226: '（5）班', 227: '（5）班', 228: '（5）班', 229: '（5）班', 230: '（5）班', 231: '（5）班', 232: '（5）班', 233: '（5）班', 234: '（5）班', 235: '（5）班', 236: '（5）班', 237: '（5）班', 238: '（5）班', 239: '（5）班', 240: '（5）班', 241: '（5）班', 242: '（5）班', 243: '（5）班', 244: '（5）班', 245: '（5）班', 246: '（5）班', 247: '（5）班', 248: '（5）班', 249: '（5）班', 250: '（5）班', 251: '（5）班', 252: '（5）班', 253: '（5）班', 254: '（5）班', 255: '（5）班', 256: '（5）班', 257: '（5）班', 258: '（5）班', 259: '（5）班', 260: '（5）班', 261: '（5）班', 262: '（5）班', 263: '（5）班', 264: '（5）班', 265: '（5）班', 266: '（5）班', 267: '（5）班', 268: '（5）班', 269: '（5）班', 270: '（5）班', 271: '（5）班', 272: '（5）班', 273: '（5）班', 274: '（6）班', 275: '（6）班', 276: '（6）班', 277: '（6）班', 278: '（6）班', 279: '（6）班', 280: '（6）班', 281: '（6）班', 282: '（6）班', 283: '（6）班', 284: '（6）班', 285: '（6）班', 286: '（6）班', 287: '（6）班', 288: '（6）班', 289: '（6）班', 290: '（6）班', 291: '（6）班', 292: '（6）班', 293: '（6）班', 294: '（6）班', 295: '（6）班', 296: '（6）班', 297: '（6）班', 298: '（6）班', 299: '（6）班', 300: '（6）班', 301: '（6）班', 302: '（6）班', 303: '（6）班', 304: '（6）班', 305: '（6）班', 306: '（6）班', 307: '（6）班', 308: '（6）班', 309: '（6）班', 310: '（6）班', 311: '（6）班', 312: '（6）班', 313: '（6）班', 314: '（6）班', 315: '（6）班', 316: '（6）班', 317: '（6）班', 318: '（6）班', 319: '（6）班', 320: '（6）班', 321: '（6）班', 322: '（6）班', 323: '（7）班', 324: '（7）班', 325: '（7）班', 326: '（7）班', 327: '（7）班', 328: '（7）班', 329: '（7）班', 330: '（7）班', 331: '（7）班', 332: '（7）班', 333: '（7）班', 334: '（7）班', 335: '（7）班', 336: '（7）班', 337: '（7）班', 338: '（7）班', 339: '（7）班', 340: '（7）班', 341: '（7）班', 342: '（7）班', 343: '（7）班', 344: '（7）班', 345: '（7）班', 346: '（7）班', 347: '（7）班', 348: '（7）班', 349: '（7）班', 350: '（7）班', 351: '（7）班', 352: '（7）班', 353: '（7）班', 354: '（7）班', 355: '（7）班', 356: '（7）班', 357: '（7）班', 358: '（7）班', 359: '（7）班', 360: '（7）班', 361: '（7）班', 362: '（7）班', 363: '（7）班', 364: '（7）班', 365: '（7）班', 366: '（7）班', 367: '（7）班', 368: '（7）班', 369: '（7）班', 370: '（7）班', 371: '（7）班', 372: '（7）班', 373: '（7）班', 374: '（7）班', 375: '（7）班', 376: '（7）班', 377: '（8）班', 378: '（8）班', 379: '（8）班', 380: '（8）班', 381: '（8）班', 382: '（8）班', 383: '（8）班', 384: '（8）班', 385: '（8）班', 386: '（8）班', 387: '（8）班', 388: '（8）班', 389: '（8）班', 390: '（8）班', 391: '（8）班', 392: '（8）班', 393: '（8）班', 394: '（8）班', 395: '（8）班', 396: '（8）班', 397: '（8）班', 398: '（8）班', 399: '（8）班', 400: '（8）班', 401: '（8）班', 402: '（8）班', 403: '（8）班', 404: '（8）班', 405: '（8）班', 406: '（8）班', 407: '（8）班', 408: '（8）班', 409: '（8）班', 410: '（8）班', 411: '（8）班', 412: '（8）班', 413: '（8）班', 414: '（8）班', 415: '（8）班', 416: '（8）班', 417: '（8）班', 418: '（8）班', 419: '（8）班', 420: '（8）班', 421: '（8）班', 422: '（8）班', 423: '（8）班', 424: '（8）班', 425: '（8）班', 426: '（8）班', 427: '（8）班', 428: '（8）班', 429: '（8）班'}, '学籍号': {0: 'G34160220081223017X', 1: 'L341602200808110271', 2: 'L341602200808280414', 3: 'L341602200810190338', 4: 'L3416022008111302D2', 5: 'L341602200812090234', 6: 'L3416022008121301F4', 7: 'L3416022009010500D3', 8: 'L341602200901090199', 9: 'L341602200901280195', 10: 'L3416022009020600B4', 11: 'L3416022009022500D7', 12: 'L34160220090320011X', 13: 'L341602200903290098', 14: 'L3416022009040500D9', 15: 'L341602200904070038', 16: 'L3416022009041500B3', 17: 'L341602200904200074', 18: 'L3416022009050400B9', 19: 'L3416022009050600F2', 20: 'L341602200905210012', 21: 'L3416022009052800D9', 22: 'L341602200907010057', 23: 'L341602200907040096', 24: 'L341602200907140177', 25: 'L3416022009081600F9', 26: 'L341602200909080091', 27: 'L341602200910290096', 28: 'L341602200912230070', 29: 'L341602200802260324', 30: 'L341602200810190207', 31: 'L341602200810200380', 32: 'L341602200810200444', 33: 'L3416022008121601AX', 34: 'L3416022008122101A3', 35: 'L3416022008122700E2', 36: 'L341602200901100123', 37: 'L3416022009021200E8', 38: 'L341602200902160064', 39: 'L3416022009042102EX', 40: 'L341602200904260122', 41: 'L34160220090428006X', 42: 'L3416022009050200C6', 43: 'L341602200905060042', 44: 'L3416022009050700A7', 45: 'L3416022009052800A4', 46: 'L3416022009060600A3', 47: 'L341602200906110064', 48: 'L341602200906110080', 49: 'L3416022009063000CX', 50: 'L3416022009070901A8', 51: 'L341602200907140046', 52: 'L341602200907300142', 53: 'L341602200908060080', 54: 'L3416022009091700C1', 55: 'L341602200910010082', 56: 'L3416022009100600E9', 57: 'L341602200910140266', 58: 'L341602200911280068', 59: 'L34160219740501001X', 60: 'L341602200807040398', 61: 'L341602200808060454', 62: 'L341602200809280299', 63: 'L3416022008100402F1', 64: 'L341602200810100347', 65: 'L341602200810260383', 66: 'L3416022008110502D2', 67: 'L3416022008110902D4', 68: 'L3416022008121301E6', 69: 'L3416022008121400C9', 70: 'L341602200812210136', 71: 'L3416022009010200C9', 72: 'L3416022009010400A3', 73: 'L3416022009011200CX', 74: 'L341602200901130090', 75: 'L3416022009011400B2', 76: 'L341602200901150155', 77: 'L3416022009011700B9', 78: 'L3416022009022000DX', 79: 'L341602200902200134', 80: 'L3416022009022500B0', 81: 'L341602200903060065', 82: 'L3416022009031100A1', 

In [232]:
excel_reader=pd.ExcelFile(r'D:\jupyter notebook\test\合并文件.xlsx')
sheet_names=excel_reader.sheet_names
for i in sheet_names:
    df_data = excel_reader.parse(sheet_name=sheet_names)
    print(df_data)

{'Sheet1':      年级编号           班级编号  班级名称                  学籍号  民族代码   姓名  性别       出生日期  \
0      12  1479781027427  （1）班  G34160220081223017X     1  王嘉豪   1 2008-12-23
1      12  1479781027427  （1）班  L341602200808110271     1  刘俊卿   1 2008-08-11
2      12  1479781027427  （1）班  L341602200808280414     1  鲁加鑫   1 2008-08-28
3      12  1479781027427  （1）班  L341602200810190338     1  周佳政   1 2008-10-19
4      12  1479781027427  （1）班  L3416022008111302D2     1  金浩然   1 2008-11-13
..    ...            ...   ...                  ...   ...  ...  ..        ...
425    12  1479781027767  （8）班  L341602200911190070     1  马铭阳   1 2009-11-19
426    12  1479781027767  （8）班  L341602200911200048     1  乔佳琪   2 2009-11-20
427    12  1479781027767  （8）班  L341602200911270062     1  刘若瞳   2 2009-11-27
428    12  1479781027767  （8）班  L341602200912050053     1  曹煜恒   1 2009-12-05
429    12  1479781027767  （8）班  L341602200912220024     1  吴宇桐   2 2009-12-22

                     家庭住址   身高    体重   肺活量  50米跑  坐位体前屈  一分钟跳绳  一分钟仰卧起坐  \
0    安徽省亳州市谯城区丰水源居委会李场18号  130  23.0  1450    11    5.3     96      NaN
1                   华佗镇朱店  131  24.0   980    10    8.5     88      NaN
2                  谯东镇前鲁庄  125  22.0   690    10    8.5     88      NaN
3                  谯城区丰水源  122  21.0   980    11    8.5     89      NaN
4                   五马镇红庙  112  19.0   690    11    6.4     90      NaN
..                    ...  ...   ...   ...   ...    ...    ...      ...
425    谯城区十九里镇马营行政村后马楼22号  133  35.0   980    10    7.6    120      NaN
426            谯城区丁胡同5号2户  126  30.0   690    10    6.4    121      NaN
427    谯城区丁瓦行政村丁瓦自然村1号12户  135  40.0   980    10    5.3     96      NaN
428        谯城区谯陵北路17号-12户  133  34.0   690    10    8.5     88      NaN
429        谯城区张姚庄行政村徐楼自然村  136  37.0   980    11    5.3     88      NaN

     50米×8往返跑      test
0         NaN  21体侧数据模板
1         NaN  21体侧数据模板
2         NaN  21体侧数据模板
3         NaN  21体侧数据模板
4         NaN  21体侧数据模板
..        ...       ...
425       NaN  28体侧数据模板
426       NaN  28体侧数据模板
427       NaN  28体侧数据模板
428       NaN  28体侧数据模板
429       NaN  28体侧数据模板

[430 rows x 18 columns], 'Sheet2': Empty DataFrame
Columns: [双]
Index: [], 'Sheet3': Empty DataFrame
Columns: [你 ]
Index: []}
{'Sheet1':      年级编号           班级编号  班级名称                  学籍号  民族代码   姓名  性别       出生日期  \
0      12  1479781027427  （1）班  G34160220081223017X     1  王嘉豪   1 2008-12-23
1      12  1479781027427  （1）班  L341602200808110271     1  刘俊卿   1 2008-08-11
2      12  1479781027427  （1）班  L341602200808280414     1  鲁加鑫   1 2008-08-28
3      12  1479781027427  （1）班  L341602200810190338     1  周佳政   1 2008-10-19
4      12  1479781027427  （1）班  L3416022008111302D2     1  金浩然   1 2008-11-13
..    ...            ...   ...                  ...   ...  ...  ..        ...
425    12  1479781027767  （8）班  L341602200911190070     1  马铭阳   1 2009-11-19
426    12  1479781027767  （8）班  L341602200911200048     1  乔佳琪   2 2009-11-20
427    12  1479781027767  （8）班  L341602200911270062     1  刘若瞳   2 2009-11-27
428    12  1479781027767  （8）班  L341602200912050053     1  曹煜恒   1 2009-12-05
429    12  1479781027767  （8）班  L341602200912220024     1  吴宇桐   2 2009-12-22

                     家庭住址   身高    体重   肺活量  50米跑  坐位体前屈  一分钟跳绳  一分钟仰卧起坐  \
0    安徽省亳州市谯城区丰水源居委会李场18号  130  23.0  1450    11    5.3     96      NaN
1                   华佗镇朱店  131  24.0   980    10    8.5     88      NaN
2                  谯东镇前鲁庄  125  22.0   690    10    8.5     88      NaN
3                  谯城区丰水源  122  21.0   980    11    8.5     89      NaN
4                   五马镇红庙  112  19.0   690    11    6.4     90      NaN
..                    ...  ...   ...   ...   ...    ...    ...      ...
425    谯城区十九里镇马营行政村后马楼22号  133  35.0   980    10    7.6    120      NaN
426            谯城区丁胡同5号2户  126  30.0   690    10    6.4    121      NaN
427    谯城区丁瓦行政村丁瓦自然村1号12户  135  40.0   980    10    5.3     96      NaN
428        谯城区谯陵北路17号-12户  133  34.0   690    10    8.5     88      NaN
429        谯城区张姚庄行政村徐楼自然村  136  37.0   980    11    5.3     88      NaN

     50米×8往返跑      test
0         NaN  21体侧数据模板
1         NaN  21体侧数据模板
2         NaN  21体侧数据模板
3         NaN  21体侧数据模板
4         NaN  21体侧数据模板
..        ...       ...
425       NaN  28体侧数据模板
426       NaN  28体侧数据模板
427       NaN  28体侧数据模板
428       NaN  28体侧数据模板
429       NaN  28体侧数据模板

[430 rows x 18 columns], 'Sheet2': Empty DataFrame
Columns: [双]
Index: [], 'Sheet3': Empty DataFrame
Columns: [你 ]
Index: []}
{'Sheet1':      年级编号           班级编号  班级名称                  学籍号  民族代码   姓名  性别       出生日期  \
0      12  1479781027427  （1）班  G34160220081223017X     1  王嘉豪   1 2008-12-23
1      12  1479781027427  （1）班  L341602200808110271     1  刘俊卿   1 2008-08-11
2      12  1479781027427  （1）班  L341602200808280414     1  鲁加鑫   1 2008-08-28
3      12  1479781027427  （1）班  L341602200810190338     1  周佳政   1 2008-10-19
4      12  1479781027427  （1）班  L3416022008111302D2     1  金浩然   1 2008-11-13
..    ...            ...   ...                  ...   ...  ...  ..        ...
425    12  1479781027767  （8）班  L341602200911190070     1  马铭阳   1 2009-11-19
426    12  1479781027767  （8）班  L341602200911200048     1  乔佳琪   2 2009-11-20
427    12  1479781027767  （8）班  L341602200911270062     1  刘若瞳   2 2009-11-27
428    12  1479781027767  （8）班  L341602200912050053     1  曹煜恒   1 2009-12-05
429    12  1479781027767  （8）班  L341602200912220024     1  吴宇桐   2 2009-12-22

                     家庭住址   身高    体重   肺活量  50米跑  坐位体前屈  一分钟跳绳  一分钟仰卧起坐  \
0    安徽省亳州市谯城区丰水源居委会李场18号  130  23.0  1450    11    5.3     96      NaN
1                   华佗镇朱店  131  24.0   980    10    8.5     88      NaN
2                  谯东镇前鲁庄  125  22.0   690    10    8.5     88      NaN
3                  谯城区丰水源  122  21.0   980    11    8.5     89      NaN
4                   五马镇红庙  112  19.0   690    11    6.4     90      NaN
..                    ...  ...   ...   ...   ...    ...    ...      ...
425    谯城区十九里镇马营行政村后马楼22号  133  35.0   980    10    7.6    120      NaN
426            谯城区丁胡同5号2户  126  30.0   690    10    6.4    121      NaN
427    谯城区丁瓦行政村丁瓦自然村1号12户  135  40.0   980    10    5.3     96      NaN
428        谯城区谯陵北路17号-12户  133  34.0   690    10    8.5     88      NaN
429        谯城区张姚庄行政村徐楼自然村  136  37.0   980    11    5.3     88      NaN

     50米×8往返跑      test
0         NaN  21体侧数据模板
1         NaN  21体侧数据模板
2         NaN  21体侧数据模板
3         NaN  21体侧数据模板
4         NaN  21体侧数据模板
..        ...       ...
425       NaN  28体侧数据模板
426       NaN  28体侧数据模板
427       NaN  28体侧数据模板
428       NaN  28体侧数据模板
429       NaN  28体侧数据模板

[430 rows x 18 columns], 'Sheet2': Empty DataFrame
Columns: [双]
Index: [], 'Sheet3': Empty DataFrame
Columns: [你 ]
Index: []}