In [10]:
import pandas as pd 
from datetime import datetime

df=pd.read_excel(r"D:\jupyter notebook\test\result1.xlsx")
df['date']=df['出生日期'].apply(lambda x:x.strftime('%d%m%Y'))
df['出生日期']=df['出生日期'].apply(lambda x:x.strftime('%d-%m-%Y'))
# df['time']=df['出生日期'].apply(lambda x:x.strftime('%H%M%S'))
df.to_excel(r"D:\jupyter notebook\test\result11.xlsx",index=False)

AttributeError: 'str' object has no attribute 'strftime'

In [16]:

# 导入工具包
import pandas as pd
import numpy as np
import os
from datetime import datetime


# 设置文件路径
path = r"D:\jupyter notebook\test"
# 空列表, 用于存放文件路径
files = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        files.append(os.path.join(path, file))

# 定义一个空的dataframe
data = pd.DataFrame()

# 遍历所有文件
for file in files:
    datai = pd.read_excel(file, dtype={'班级编号':str})  # 在读取文件时就指定日期列的日期格式为np.datetime64
    datai['出生日期'] = pd.to_datetime(datai['出生日期'])  # 先将日期列转换为datetime64类型
    datai['出生日期']=datai['出生日期'].apply(lambda x:x.strftime('%Y/%m/%d'))
    datai_len = len(datai)
    data = data.append(datai)   # 添加到总的数据中
    print('读取%i行数据,合并后文件%i列, 名称：%s' %
          (datai_len, len(data.columns), file.split('/')[-1]))
    # 查看是否全部读取，格式是否出错
# 重置索引
data.reset_index(drop=True, inplace=True)
data.to_excel(r"D:\jupyter notebook\test\result12.xlsx", index=False)

读取59行数据,合并后文件17列, 名称：D:\jupyter notebook\test\21体侧数据模板.xls
读取53行数据,合并后文件17列, 名称：D:\jupyter notebook\test\22体侧数据模板.xls
读取53行数据,合并后文件17列, 名称：D:\jupyter notebook\test\23体侧数据模板.xls
读取53行数据,合并后文件17列, 名称：D:\jupyter notebook\test\24体侧数据模板.xls
读取56行数据,合并后文件17列, 名称：D:\jupyter notebook\test\25体侧数据模板.xls
读取49行数据,合并后文件17列, 名称：D:\jupyter notebook\test\26体侧数据模板.xls
读取54行数据,合并后文件17列, 名称：D:\jupyter notebook\test\27体侧数据模板.xls
读取53行数据,合并后文件17列, 名称：D:\jupyter notebook\test\28体侧数据模板.xls

In [18]:
df1=pd.read_excel(r"D:\jupyter notebook\test\result12.xlsx") # 此表是先把'出生日期'列转为时间类型后再进行格式设置，
                                                            # 这就造成了生成的表格中'出生日期'列数据类型扔是字符串格式
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   年级编号      430 non-null    int64
 1   班级编号      430 non-null    int64
 2   班级名称      430 non-null    object
 3   学籍号       430 non-null    object
 4   民族代码      430 non-null    int64
 5   姓名        430 non-null    object
 6   性别        430 non-null    int64
 7   出生日期      430 non-null    object
 8   家庭住址      426 non-null    object
 9   身高        430 non-null    int64
 10  体重        430 non-null    float64
 11  肺活量       430 non-null    int64
 12  50米跑      430 non-null    int64
 13  坐位体前屈     430 non-null    float64
 14  一分钟跳绳     430 non-null    int64
 15  一分钟仰卧起坐   0 non-null      float64
 16  50米×8往返跑  0 non-null      float64
dtypes: float64(4), int64(8), object(5)
memory usage: 57.2+ KB

如何更改 pandas 中的日期时间格式
如何更改 pandas 中的日期时间格式

DOB 列样本值采用格式 - 1/1/2016 默认情况下会转换为对象，如下所示

DOB       object
转换为日期格式

df['DOB'] = pd.to_datetime(df['DOB'])
日期转换为

2016-01-26
dtype 是

DOB       datetime64[ns]
现在我想将此日期格式转换为 01/26/2016 或以任何其他常规日期格式。我该怎么做？

无论我尝试什么方法，它总是以 2016-01-26 格式显示日期。

In [20]:
# 您可以使用，dt.strftime如果您需要转换 datetime 为其他格式（但请注意，然后 dtype 列将是 object（string））：

import pandas as pd

df = pd.DataFrame({'DOB': {0: '26/1/2016', 1: '26/1/2016'}})
print (df) 
         
df['DOB'] = pd.to_datetime(df.DOB)
print (df) 
    
df['DOB1'] = df['DOB'].dt.strftime('%m/%d/%Y')
print (df) 
print (df.dtypes)

         DOB
0  26/1/2016
1  26/1/2016
         DOB
0 2016-01-26
1 2016-01-26
         DOB        DOB1
0 2016-01-26  01/26/2016
1 2016-01-26  01/26/2016
DOB     datetime64[ns]
DOB1            object
dtype: object

In [11]:
# 与第一个答案相比，我建议先使用 dt.strftime（），然后再使用 pd.to_datetime（）。
# 这样，它仍然会产生日期时间数据类型。

import pandas as pd
from datetime import datetime

df = pd.DataFrame({'DOB': {0: '26/1/2016 ', 1: '26/1/2016 '}})
print(df.dtypes)
print('------------------------------------------')
df['DOB1']=pd.to_datetime(df['DOB']).dt.strftime("%Y/%m/%d")
print(df)
print(df.dtypes)
print('------------------------------------------')
df['DOB1'] = pd.to_datetime(df['DOB1'])
print(df.dtypes)

DOB    object
dtype: object
------------------------------------------
          DOB        DOB1
0  26/1/2016   2016/01/26
1  26/1/2016   2016/01/26
DOB     object
DOB1    object
dtype: object
------------------------------------------
DOB             object
DOB1    datetime64[ns]
dtype: object

## pandas 对日期类型数据的处理

In [1]:
df1 = pd.read_csv('https://raw.githubusercontent.com/stonewm/python-practice-projects/master/pandas%20sample%20data/sample-salesv3.csv')
df1['date'] = pd.to_datetime(df1['date']) # convert date column to datetime
df1.head()

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2014-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2014-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2014-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2014-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2014-01-01 23:26:55

In [2]:
df2=df1.dtypes
df2

account number             int64
name                      object
sku                       object
quantity                   int64
unit price               float64
ext price                float64
date              datetime64[ns]
dtype: object

### 也可以在 read_csv() 方法中，通过 parse_dates 参数直接将某些列转换成 datetime64 类型：

In [18]:
df1 = pd.read_csv('https://raw.githubusercontent.com/stonewm/python-practice-projects/master/pandas%20sample%20data/sample-salesv3.csv',parse_dates=['date'])
df1.dtypes

我们据此销售数据，按月份、按季度统计 sku 的销售金额。

pandas 的 pandas.Series.dt 可以获得日期 / 时间类型的相关信息。比如

In [17]:
df1['date'].dt.year
df1['date'].dt.month
df1['date'].dt.quarter

但这些类型返回值为 int 类型，作为统计的字段，我们更希望是 2014-04 这样的格式，有两个方法：

In [19]:
# 方法一
df1['year_month']=df1['date'].apply(lambda x:x.strftime('%Y-%m'))
df1

In [20]:
# 第二种方法：
df1['period']=df1['date'].dt.to_period('M')
df1.head()

第二种方法使用起来更加简单，参数 M 表示月份，Q 表示季度，A 表示年度，D 表示按天，这几个参数比较常用。

新增了一列之后，做出数据透视表：

In [22]:
import numpy as np
pivot = pd.pivot_table(df1, index=['sku'], columns=['period'], values=['ext price'], aggfunc=np.sum)
pivot.head()

In [21]:
# 再做一个按季度统计的数据透视表：
df1['quarter'] = df1['date'].dt.to_period('Q')
quarter_pivot = pd.pivot_table(df1, index=['sku'], columns=['quarter'], values=['ext price'], aggfunc=np.sum)
quarter_pivot.head()