In [4]:
import pandas as pd 

a = [['a', '1.2', '4.2'], ['b', '70', '0.03'], ['x', '5', '0']]

df= pd.DataFrame(a)
df.dtypes

0    object
1    object
2    object
dtype: object

In [3]:
df = pd.DataFrame (a, dtype='float') #示例 1
df.dtypes

0     object
1    float64
2    float64
dtype: object

In [6]:
df = pd.DataFrame (data=a, dtype=np.int8) #示例 2
df.dtypes

0    object
1    object
2    object
dtype: object

In [7]:
# 下面是一个字符串 Seriess 的例子，它的 dtype 为 object：

s = pd.Series(['1', '2', '4.7', 'pandas', '10'])
s

0         1
1         2
2       4.7
3    pandas
4        10
dtype: object

In [10]:
# 使用 to_numeric 转为数值。默认情况下，它不能处理字母型的字符串 'pandas'：
# 如果遇到无效值，第三个选项就是忽略该操作：
pd.to_numeric(s,errors='coerce')

0     1.0
1     2.0
2     4.7
3     NaN
4    10.0
dtype: float64

In [11]:
pd.to_numeric(s, errors='ignore')#the original Series is returned untouched

0         1
1         2
2       4.7
3    pandas
4        10
dtype: object

对于多列或者整个 DataFrame

如果想要将这个操作应用到多个列，依次处理每一列是非常繁琐的，所以可以使用 DataFrame.apply 处理每一列。

对于某个 DataFrame：

In [12]:
a = [['a', '1.2', '4.2'], ['b', '70', '0.03'], ['x', '5', '0']]
df = pd.DataFrame(a, columns=['col1','col2','col3'])
df

  col1 col2  col3
0    a  1.2   4.2
1    b   70  0.03
2    x    5     0

In [13]:
df.dtypes

col1    object
col2    object
col3    object
dtype: object

In [18]:
df[['col2','col3']]=df[['col2','col3']].apply(pd.to_numeric)
df.dtypes

col1     object
col2    float64
col3    float64
dtype: object

In [19]:
df

  col1  col2  col3
0    a   1.2  4.20
1    b  70.0  0.03
2    x   5.0  0.00

In [20]:
# 但是，可能不知道哪些列可以可靠地转换为数字类型。在这种情况下，设置参数：

df.apply(pd.to_numeric, errors='ignore')

# 然后该函数将被应用于整个 DataFrame，可以转换为数字类型的列将被转换，而不能 (例如，它们包含非数字字符串或日期) 的列将被单独保留。

# 另外 pd.to_datetime 和 pd.to_timedelta 可将数据转换为日期和时间戳。

  col1  col2  col3
0    a   1.2  4.20
1    b  70.0  0.03
2    x   5.0  0.00

In [21]:
# 软转换 —— 类型自动推断

# 版本 0.21.0 引入了 infer_objects () 方法，用于将具有对象数据类型的 DataFrame 的列转换为更具体的类型。

# 例如，用两列对象类型创建一个 DataFrame，其中一个保存整数，另一个保存整数的字符串：

df = pd.DataFrame({'a': [7, 1, 5], 'b': ['3','2','1']}, dtype='object')
df.dtypes

a    object
b    object
dtype: object

In [22]:
# 然后使用 infer_objects ()，可以将列 'a' 的类型更改为 int64：

df =df.infer_objects()
df.dtypes

a     int64
b    object
dtype: object

astype 强制转换

如果试图强制将两列转换为整数类型，可以使用 df.astype (int)。

示例如下：

In [23]:
a = [['a', '1.2', '4.2'], ['b', '70', '0.03'], ['x', '5', '0']]

df= pd.DataFrame(a, columns=['one', 'two', 'three'])

df

  one  two three
0   a  1.2   4.2
1   b   70  0.03
2   x    5     0

In [24]:
df.dtypes

one      object
two      object
three    object
dtype: object

In [26]:
df[['two','three']]=df[['two','three']].astype(float)
df.dtypes

one       object
two      float64
three    float64
dtype: object