In [6]:
import pandas as pd 
import numpy as np
import os
a = 1
b = 3
c = a + b
os.getcwd()

'D:\\Wowode\\jupyterlab'

In [11]:
str=input('Enter some word:').split()
for i in str:
    print(i,end=' ')
print()
stri = str[-1::-1]
for j in stri:
    print(j,end=' ')

Enter some word:this is a dog
this is a dog
dog a is this

In [25]:
row = 1
while row <= 9:
    col = 1
    while col <= row:
        print('%d * %d = %d' % (col, row, col*row), end='\t')
        col += 1
    print('')
    row += 1

1 * 1 = 1
1 * 2 = 2	2 * 2 = 4
1 * 3 = 3	2 * 3 = 6	3 * 3 = 9
1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16
1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25
1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36
1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49
1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64
1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [8]:
num1=int(input('Enter a number:'))
num2=int(input('Enter anthor number:'))
max_1=0
min_1=0
for i in range(1,num1*num2+1):
    if (num1%i==0)and (num2%i==0):
        max_1=i
        min_1=int(num1*num2/max_1)
print('最大公约数为:',max_1,'最小公倍数为:',min_1)

Enter a number:2
Enter anthor number:3
最大公约数为: 1 最小公倍数为: 6

In [22]:
a = eval(input('请输入一个数字:'))
n = eval(input('请输入次数n:'))
sum = []
sum2 = 0
s1 = 0
i = 0
while i <= n-1:
    s1 =s1+(a*(10**i))
    sum.append(s1)
    i += 1
    sum1 = [str(i) for i in sum]
    for j in sum:
        sum2 += j
print('+'.join(sum1),'=',sum2)

请输入一个数字:2
请输入次数n:3
2+22+222 = 272

In [1]:
a = input('输入数字>>>')
count = int(input('几个数字相加>>>'))
ret = []
for i in range(1,count+1):
    ret.append(int(a*i))
sum1 = [str(j) for j in ret]
print('+'.join(sum1),'=',sum(ret))

输入数字>>>2
几个数字相加>>>3
2+22+222 = 246

In [2]:
ret=[]
# sum=0
a = input('输入基数字:')
count=int(input('几个数字相加>>>:'))

for i in range(1,count+1):
    ret.append(int(a*i))
sum1=[str(i) for j in ret]
print('+'.join(sum1),'=',sum(ret))

输入基数字:3
几个数字相加>>>:4
4+4+4+4 = 3702

In [3]:
answer=[]
for x in range(2,46):
    for y in range(2,60):
        for z in range(2,102):
            if x == y==z and (45%x==59%y==101%z):
                answer.append(x)
print(answer)

[2, 7, 14]

In [4]:
years = ["鼠", "牛", "虎", "兔", "龙", "蛇",
             "马", "羊", "猴", "鸡", "狗", "猪"]
year_1986 = "虎"
index_1986 = years.index(year_1986)
print("1986 年在列表中的下标是 %s !" % index_1986)
remainder = (2019-1986) % len(years)
print("(2019-1986)/12 的余数是 %s。" % remainder)
year_2019 = years[index_1986 + remainder]    
print("2019年是 %s 年" % year_2019)

1986 年在列表中的下标是 2 !
(2019-1986)/12 的余数是 9。
2019年是 猪 年

In [5]:
""" 记录名单。学生参加演出，请设计一段程序，按照到达的先后，输入所有参加演出的学生姓名，
    存放到一个列表中，输入时姓名之间用 “，”（中文逗号）分隔。然后在列表中插入开始标记：
    “Actors”。演出结束后，输入名字可以查找某个学生是第几个到达的。
"""
students = ["Actors"]

letters = input("请输入学生姓名，用“，”（中文逗号）分隔：")
students.extend(letters.split("，"))
print(students)

name = input("请输入学生姓名进行查询：")
while True:
    if name == "q": # 输入 q 退出
        break    
    print("学生{}是第 {} 个到达的。".format(name, students.index(name)))
    name = input("请输入学生姓名进行查询：")

请输入学生姓名，用“，”（中文逗号）分隔：张飞，李三，张力上
['Actors', '张飞', '李三', '张力上']
请输入学生姓名进行查询：李三
学生李三是第 2 个到达的。
请输入学生姓名进行查询：张力上
学生张力上是第 3 个到达的。
请输入学生姓名进行查询：Actors
学生Actors是第 0 个到达的。
请输入学生姓名进行查询：q

In [11]:
import pandas as pd 
a =[1,2,3,1,1,2,'b','c','a','a']
result = pd.value_counts(a)
print(result)

1    3
a    2
2    2
3    1
c    1
b    1
dtype: int64

In [12]:
b = a =[1,2,3,1,1,2]
dict={}
for key in b:
    dict[key]=dict.get(key,0)+1
print(dict)

{1: 3, 2: 2, 3: 1}

In [13]:
result=['python','java','python','flask','django','flask']
result_dic={}
for item_str in result:
    if item_str not in result_dic:
        result_dic[item_str]=1
    else:
        result_dic[item_str]+=1
print(result_dic)

{'python': 2, 'java': 1, 'flask': 2, 'django': 1}

In [20]:
result=['python','java','python','flask','django','flask']
test_stat = {}
for i in set(result):
    test_stat[i]=result.count(i)
print(test_stat)

{'django': 1, 'flask': 2, 'java': 1, 'python': 2}

In [21]:
mylist = [1,2,2,2,2,3,3,3,4,4,4,4]
myset=set(mylist)
for item in myset:
    print('the %d has found %d' %(item,mylist.count(item)))

the 1 has found 1
the 2 has found 4
the 3 has found 3
the 4 has found 4

In [22]:
List=[1,2,2,2,2,3,3,3,4,4,4,4]
a ={}
for i in List:
    if List.count(i)>1:
        a[i]=List.count(i)
print(a)

{2: 4, 3: 3, 4: 4}

In [12]:
import pandas as pd 

d = {
"gender":["male", "female", "male","female"],
"color":["red", "green", "blue","green"],
"age":[25, 30, 15, 32]
}

df = pd.DataFrame(d)
df

   gender  color  age
0    male    red   25
1  female  green   30
2    male   blue   15
3  female  green   32

In [14]:
d = {'male':0,'female':1}
df['gender2'] = df['gender'].map(d)

In [15]:
df

   gender  color  age  gender2
0    male    red   25        0
1  female  green   30        1
2    male   blue   15        0
3  female  green   32        1

In [16]:
d={'customer':['A','B','C','D'],'sales':[11-00,'950.5RMB','$400','$1250.75']}
df = pd.DataFrame(d)
df

  customer     sales
0        A        11
1        B  950.5RMB
2        C      $400
3        D  $1250.75

In [17]:
df['sales']= df['sales'].replace("[$,RMB]","",regex = True).astype('float')

In [18]:
df

  customer    sales
0        A    11.00
1        B   950.50
2        C   400.00
3        D  1250.75

In [36]:
L=[]
def lj():
    L=[]
    paths=os.walk('D:\\test')
    for path,dir_lst,file_lst in paths:
        for file_name in file_lst:
            L.append(file_name)
    print('一共有:',L)
#     return L
lj()

一共有: ['四（1）体侧数据.xls', '四（2）体侧数据.xls', '四（3）体侧数据.xls', '四（4）体侧数据.xls', '四（5）体侧数据.xls', '四（6）体侧数据.xls', '四（7）体侧数据.xls', '四（8）体侧数据.xls', '四（9）体侧数据.xls', '四（10）体侧数据.xls']

In [42]:
df = pd.read_excel('C:\\Users\\star\\Desktop\\test.xlsx',names= ['学号','姓名','成绩'])
# df.columns 
df

          学号   姓名     成绩
0   12904933  付子萌   96.0
1   12904931  闫康硕   85.0
2   12905270  胡靖梓   99.5
3   12905937  谭宇飞   85.0
4   12905445  丁秋雨   93.0
5   12905269  马佳旭   83.0
6   12905446   田歌  102.0
7   12905936   姜枫   72.0
8   12903287  张熙婕   86.0
9   12905264  任子硕   80.0
10  12903117   韩乐   85.0
11  12905272  蒋恩梦   74.5
12  12905079  王瑜涵   97.0
13  12905266  王硕鑫  102.0
14  12903115  张浩然   72.0
15  12905078  段贺翔   73.0
16  12904076  郑婷予   91.5
17  12906310  王大泽   83.0
18  12906114  刘依晨   88.0
19  12903288  陈俊臣   72.0
20  12904079  徐灿阳   87.5
21  12903683   陈珺   74.5
22  12905450  刘家诚   64.5
23  12905739  马富霖   80.0
24  12905741  李依诺   83.0
25  12903290  张文强   49.0
26  12905742  李朝阳   73.0
27  12904929  张怡霏   97.0
28  12902906  袁顺路   83.5
29  12905740  王宇轩   67.0
30  12904258  王永君   68.5
31  12906111  蔡静萱   73.0
32  12905268   吴杨   73.0
33  12905265  李豪杰   77.0
34  12905447  刘伟龙   34.5
35  12903682  石梦园   66.5
36  12906113  王艺梦   49.5
37  12903685  董子怡   51.0
38  12905448  石梦雅   35.5
39  12903681  卓紫玉   20.0