In [1]:
import datetime

a = datetime.datetime.now()
print(a)

2021-03-30 15:40:01.295236

In [1]:
import pandas as pd
import matplotlib
import os
import sys

In [2]:
# 创建 DataFrame
d = {'Channel':[1], 'Number':[255]}
df = pd.DataFrame(d)
df

   Channel  Number
0        1     255

In [3]:
# 导出到 Excel 文件中
df.to_excel('test1.xlsx', sheet_name = 'test1', index = False)
df.to_excel('test2.xlsx', sheet_name = 'test2', index = False)
df.to_excel('test3.xlsx', sheet_name = 'test3', index = False)
print('Done')

Done

In [4]:
# 放文件名的 list
FileNames = []
# 你存放Excel文件的路径可能不一样，需要修改。
os.chdir(r"./")
# 找到所有文件扩展名是 .xlsx 的文件
for files in os.listdir("."):
    if files.endswith(".xlsx"):
        FileNames.append(files)
FileNames

['12.xlsx', 'shopping.xlsx', 'test1.xlsx', 'test2.xlsx', 'test3.xlsx']

In [5]:
def GetFile(fnombre):
    # Excel 文件的路径
    # 你存放Excel文件的路径可能不一样，需要修改。
    location = r'./' + fnombre
    # 读入 Excel 文件的数据
    # 0 = 第一个页签
    df = pd.read_excel(location, 0)
    # 标记一下数据是从哪个文件来的
    df['File'] = fnombre
    # 把 'File' 列作为索引
    return df

In [6]:
# 创建一个 dataframe 的 list
df_list = [GetFile(fname) for fname in FileNames]
df_list

[   Unnamed: 0   id       date     File
 0           0  101 2020-03-10  12.xlsx
 1           1  102 2020-03-11  12.xlsx
 2           2  103 2020-03-12  12.xlsx
 3           3  104 2020-03-13  12.xlsx
 4           4  105 2020-03-14  12.xlsx
 5           5  106 2020-03-15  12.xlsx
 6           6  107 2020-03-16  12.xlsx
 7           7  108 2020-03-17  12.xlsx
 8           8  109 2020-03-18  12.xlsx
 9           9  110 2020-03-19  12.xlsx,
     id       date  money product department    origin           File
 0  101 2020-03-10      5     苏打水         饮料     China  shopping.xlsx
 1  102 2020-03-11      4      可乐         饮料     China  shopping.xlsx
 2  103 2020-03-12     65     牛肉干         零食   America  shopping.xlsx
 3  104 2020-03-13    -10     老干妈        调味品     China  shopping.xlsx
 4  105 2020-03-14     15      菠萝         水果  Thailand  shopping.xlsx
 5  106 2020-03-15     20     冰激凌        NaN     China  shopping.xlsx
 6  107 2020-03-16     35     洗面奶        日用品   america  shopping.xlsx
 7  108 2020-03-17     16      洋葱         蔬菜     China  shopping.xlsx
 8  109 2020-03-18      6      牙膏        日用品     China  shopping.xlsx
 9  110 2020-03-19     20      薯片         零食     Japan  shopping.xlsx,
    Channel  Number        File
 0        1     255  test1.xlsx,
    Channel  Number        File
 0        1     255  test2.xlsx,
    Channel  Number        File
 0        1     255  test3.xlsx]

In [7]:
big_df = pd.concat(df_list)
big_df

,Unnamed: 0,id,date,File,money,product,department,origin,Channel,Number
0,0.0,101.0,2020-03-10,12.xlsx,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,102.0,2020-03-11,12.xlsx,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,103.0,2020-03-12,12.xlsx,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,104.0,2020-03-13,12.xlsx,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,105.0,2020-03-14,12.xlsx,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,106.0,2020-03-15,12.xlsx,NaN,NaN,NaN,NaN,NaN,NaN
6,6.0,107.0,2020-03-16,12.xlsx,NaN,NaN,NaN,NaN,NaN,NaN
7,7.0,108.0,2020-03-17,12.xlsx,NaN,NaN,NaN,NaN,NaN,NaN
8,8.0,109.0,2020-03-18,12.xlsx,NaN,NaN,NaN,NaN,NaN,NaN
9,9.0,110.0,2020-03-19,12.xlsx,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,101.0,2020-03-10,shopping.xlsx,5.0,苏打水,饮料,China,NaN,NaN
1,NaN,102.0,2020-03-11,shopping.xlsx,4.0,可乐,饮料,China,NaN,NaN
2,NaN,103.0,2020-03-12,shopping.xlsx,65.0,牛肉干,零食,America,NaN,NaN
3,NaN,104.0,2020-03-13,shopping.xlsx,-10.0,老干妈,调味品,China,NaN,NaN
4,NaN,105.0,2020-03-14,shopping.xlsx,15.0,菠萝,水果,Thailand,NaN,NaN
5,NaN,106.0,2020-03-15,shopping.xlsx,20.0,冰激凌,NaN,China,NaN,NaN
6,NaN,107.0,2020-03-16,shopping.xlsx,35.0,洗面奶,日用品,america,NaN,NaN
7,NaN,108.0,2020-03-17,shopping.xlsx,16.0,洋葱,蔬菜,China,NaN,NaN
8,NaN,109.0,2020-03-18,shopping.xlsx,6.0,牙膏,日用品,China,NaN,NaN
9,NaN,110.0,2020-03-19,shopping.xlsx,20.0,薯片,零食,Japan,NaN,NaN
0,NaN,NaN,NaT,test1.xlsx,NaN,NaN,NaN,NaN,1.0,255.0
0,NaN,NaN,NaT,test2.xlsx,NaN,NaN,NaN,NaN,1.0,255.0
0,NaN,NaN,NaT,test3.xlsx,NaN,NaN,NaN,NaN,1.0,255.0

## 数据预处理的 10 个小技能，附 Pandas 实现

In [8]:
import pandas as pd

df = pd.DataFrame({'a':[1,3,np.nan],'b':[4,np.nan,np.nan]})
df

     a    b
0  1.0  4.0
1  3.0  NaN
2  NaN  NaN

In [9]:
# 异常值平均值上下1.96个标准差区间以外的值
meangrade = df['a'].mean()
stdgrade = df['a'].std()
toprange = meangrade + stdgrade * 1.96
botrange = meangrade - stdgrade * 1.96

# 过滤区间外的值
copydf = df
copydf = copydf.drop(copydf[copydf['a']
        > toprange].index)
copydf = copydf.drop(copydf[copydf['a']
        < botrange].index)
copydf

     a    b
0  1.0  4.0
1  3.0  NaN
2  NaN  NaN

In [13]:
q1 = df['a'].quantile(.25)
q3 = df['a'].quantile(.75)
iqr = q3-q1
toprange = q3 + iqr * 1.5
botrange = q1 - iqr * 1.5

copydf = df
copydf = copydf.drop(copydf[copydf['a']
        > toprange].index)
copydf = copydf.drop(copydf[copydf['a']
        < botrange].index)
copydf

     a    b
0  1.0  4.0
1  3.0  NaN
2  NaN  NaN

In [14]:
# axis 0 表示按照行，all 此行所有值都为 nan
df.dropna(axis=0, how='all')

     a    b
0  1.0  4.0
1  3.0  NaN

In [15]:
# 使用a列平均数填充列的空值，inplace true表示就地填充
df["a"].fillna(df["a"].mean(), inplace=True)

In [16]:
df

     a    b
0  1.0  4.0
1  3.0  NaN
2  2.0  NaN

In [17]:
df.loc[(df['a'] < -2,'a')] = 0
df.loc[(df['a'] >= 100,'a')] = 100

In [18]:
df

     a    b
0  1.0  4.0
1  3.0  NaN
2  2.0  NaN

In [23]:
import string
exclude = set(string.punctuation)

def remove_punctuation(x):
    x = ''.join(ch for ch in x if ch not in exclude)
    return x

In [27]:
df1=pd.DataFrame({'a':['c,d','3','d ef'],'b':['edc.rc','3','4']})
df1

      a       b
0   c,d  edc.rc
1     3       3
2  d ef       4

In [28]:
df1.a = df1.a.apply(remove_punctuation)

In [29]:
df1

      a       b
0    cd  edc.rc
1     3       3
2  d ef       4

In [37]:
df2 = pd.DataFrame({'a':[46, 98,99, 60, 43]})
df2

    a
0  46
1  98
2  99
3  60
4  43

In [40]:
df2['a'].rank(ascending=False)

0    4.0
1    2.0
2    1.0
3    3.0
4    5.0
Name: a, dtype: float64

In [63]:
df=pd.DataFrame([[1.4,np.nan],[7,-4],[np.nan,np.nan],[0.75,-1.3]],index=['a','b','c','d'],columns=['one','two'])

In [64]:
df

    one  two
a  1.40  NaN
b  7.00 -4.0
c   NaN  NaN
d  0.75 -1.3

In [72]:
from pandas import DataFrame

import pandas as pd

import numpy as np

# pandas.DataFrame对行和列求和及添加新行和列

In [74]:
# 生成DataFrame数据

df = DataFrame(np.random.randn(4, 5), columns=['A', 'B', 'C', 'D', 'E'])
df

          A         B         C         D         E
0 -0.023734  1.139584  0.080877 -0.605554  0.822139
1 -0.663751 -0.350450  0.774261 -0.367813 -1.793594
2 -0.702938  0.638868 -0.668093 -0.301774  1.532207
3 -0.494267 -2.342808 -0.006981  0.004955  0.000681

In [75]:
# 计算各列数据总和并作为新列添加到末尾

df['Col_sum'] = df.apply(lambda x: x.sum(), axis=1)

In [76]:
df

          A         B         C         D         E   Col_sum
0 -0.023734  1.139584  0.080877 -0.605554  0.822139  1.413311
1 -0.663751 -0.350450  0.774261 -0.367813 -1.793594 -2.401347
2 -0.702938  0.638868 -0.668093 -0.301774  1.532207  0.498271
3 -0.494267 -2.342808 -0.006981  0.004955  0.000681 -2.838420

In [77]:
# 计算各行数据总和并作为新行添加到末尾

df.loc['Row_sum'] = df.apply(lambda x: x.sum())
df

                A         B         C         D         E   Col_sum
0       -0.023734  1.139584  0.080877 -0.605554  0.822139  1.413311
1       -0.663751 -0.350450  0.774261 -0.367813 -1.793594 -2.401347
2       -0.702938  0.638868 -0.668093 -0.301774  1.532207  0.498271
3       -0.494267 -2.342808 -0.006981  0.004955  0.000681 -2.838420
Row_sum -1.884691 -0.914806  0.180064 -1.270186  0.561434 -3.328185

## pandas.DataFrame排除特定行
使用Python进行数据分析时，经常要使用到的一个数据结构就是pandas的DataFrame

如果我们想要像Excel的筛选那样，只要其中的一行或某几行，可以使用isin()方法，将需要的行的值以列表方式传入，还可以传入字典，指定列进行筛选。

但是如果我们只想要所有内容中不包含特定行的内容，却并没有一个isnotin()方法。我今天的工作就遇到了这样的需求，经常查找之后，发现只能换种方式使用isin()来实现这个需求。

示例如下：

In [79]:
list1=['GD', 'GX', 'FJ']
df = pd.DataFrame([list1, ['SD', 'SX', 'BJ'], ['HN', 'HB', 'AH'], ['HEN', 'HEN', 'HLJ'], ['SH', 'TJ', 'CQ']], columns=['p1', 'p2', 'p3'])
df

    p1   p2   p3
0   GD   GX   FJ
1   SD   SX   BJ
2   HN   HB   AH
3  HEN  HEN  HLJ
4   SH   TJ   CQ

In [81]:
# 如果只想要p1为GD和HN的两行，可以这么做：
df[df.p1.isin(['GD','HN'])]

   p1  p2  p3
0  GD  GX  FJ
2  HN  HB  AH

In [82]:
# 但是如果我们想要除了这两行之外的数据，就需要绕点路了。
# 原理是先把p1取出并转换为列表，然后再从列表中去不需要的行（值）去除，然后再在DataFrame中使用isin()
ex_list=list(df.p1)
ex_list.remove('GD')
ex_list.remove('HN')
ex_list

['SD', 'HEN', 'SH']

In [84]:
df[df.p1.isin(ex_list)]

    p1   p2   p3
1   SD   SX   BJ
3  HEN  HEN  HLJ
4   SH   TJ   CQ

In [ ]:
# 在对读入的数据进行必要的行列修剪以及整体描述后，接下来我再进一步，对数据进行一些简单的行列计算。今天就讲一讲简单的行列计算方法。

# 首先还是把数据读进来，并做适当的修剪：
import pandas as pd

# 读入数据
data=pd.read_excel('D:/temp/员工综合绩效分析.xlsx',sheet_name='综合绩效分析')

# 修改列名
data1=data[['班组','姓名','性别','平均处理时长','月度接听量','质检成绩']]

## 然后我们在数据集的最右侧增加一列，数据来自已有数据的列计算：

In [ ]:
data1['月度有效工时']=data1['平均处理时长']*data1['月度接听量']

## 那么我们如何想要把计算列插入到指定位置而不是最后面应该如何操作呢？这就用到了Pandas的insert插入命令。先看代码：

In [ ]:
data1.insert(1,column='月度有效工时',value=data1['平均处理时长'] * data1['月度接听量'])

## 那么行计算呢？对于纵向每行数据的计算(其实本质上还是列计算)，Pandas也有着一系列简单直白的命令。先把代码放在这里：

In [ ]:
# 第一行是直接对数据集data1中所有的数值型数据进行求均值操作。
data1.mean()
# 第二行是对data1数据集中的“平均处理时长”列进行求均值操作。
data1.平均处理时长.mean()
# 第三行是对data1数据集中的“平均处理时长”列进行计数、求和、最小、最大以及均值的批量求值操作。
data1.平均处理时长.agg(['count','sum','min','max','mean'])
# 懂了这三行代码，就可以举一反三，灵活地对目标数据列进行基本的统计分析操作了。

In [85]:
data = {'fruits': ['banana', 'apple', 'pear'], 
    'source' : (['brazil', 'algeria', 'nigera'], ['brazil', 'morocco', 'iran', 'france'], ['china', 'india', 'mexico']),
    'prices' : [2, 3, 7]}
df = pd.DataFrame(data, columns = ['fruits', 'source', 'prices'])
df

   fruits                           source  prices
0  banana        [brazil, algeria, nigera]       2
1   apple  [brazil, morocco, iran, france]       3
2    pear           [china, india, mexico]       7

## 创建Series

In [1]:
#1.通过list创建
a = pd.Series([1,2,3,4,3,3,4])
b = pd.Series([1,2,4,5], index = ["a","b","c","d"])
#2.通过数组创建
a = pd.Series(np.arange(6))
#3.通过字典生成，key ==>index
a = pd.Series({"a":1,"b":2,"c":3})

## 创建DataFrame

In [ ]:
#1.通过字典创建
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d，dtype=np.int8)
#2.通过包含Series创建字典

In [90]:
df = DataFrame(np.random.randn(4, 5), columns=['A', 'B', 'C', 'D', 'E'])

In [91]:
s1=pd.Series([90,86,70],index=['leo','kate','john'])
s1

leo     90
kate    86
john    70
dtype: int64

In [94]:
dict={'leo':[90,909],'katea':45,'johnn':30}
s2=pd.Series(dict)
s2

leo      [90, 909]
katea           45
johnn           30
dtype: object

In [96]:
s3=pd.Series([3,-5,7,4],index=list('abcd'))
s3

a    3
b   -5
c    7
d    4
dtype: int64

In [97]:
import pandas as pd

print("---------案例1:--------------")
# 创建DataFrame，列名是：'name'、'gender'、'age'
df = pd.DataFrame([['Snow','M',22],
                   ['Tyrion','M',32],
                   ['Sansa','F',18],
                   ['Arya','F',14]], columns=['name','gender','age'])
print(df)

print("---------案例2:--------------")
# DataFrame创建,列名是：'Country'、'Capital'、'Population'
data=[['Belglum','Brussels',11190846],
      ['Indla','New Delhi',1303171035],
      ['Brazil','Brasilia',207847528]]

# index如果不写，默认从0开始序列，下面设置了从1开始序列
df1=pd.DataFrame(data=data,index=[1,2,3],columns=['Country','Capital','Population'])
print(df1)

---------案例1:--------------
     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14
---------案例2:--------------
   Country    Capital  Population
1  Belglum   Brussels    11190846
2    Indla  New Delhi  1303171035
3   Brazil   Brasilia   207847528