In [1]:
df = pd.DataFrame(np.random.randn(3, 4), columns=list('ABCD'))
df

          A         B         C         D
0 -0.122495  1.319371 -0.571376 -2.593038
1 -1.813772 -0.519927 -2.730710 -1.798919
2 -0.088531 -0.168304 -0.273217  0.484009

In [2]:
# 遍历行
for index, row in df.iterrows():    # index表示索引， row是一个Series结构，可以通过列名或者列索引来获取每一个元素
    print(index)
    print(row['A'])           # 这样是第一列的数据
    print(row[-1])   # 最后一列的数据
    print(row[1])    # 第二列的数据

0
-0.12249499923724645
-2.5930384737037477
1.3193711598192575
1
-1.8137716529497994
-1.7989193731245137
-0.5199266125172188
2
-0.08853055044820325
0.4840085067178588
-0.16830354917577053

In [3]:
# 遍历行
for index, row in df.iterrows():    # index表示索引， row是一个Series结构，可以通过列名或者列索引来获取每一个元素
    print(index)
    print(row)           # 这样是第一列的数据
    # 第二列的数据

0
A   -0.122495
B    1.319371
C   -0.571376
D   -2.593038
Name: 0, dtype: float64
1
A   -1.813772
B   -0.519927
C   -2.730710
D   -1.798919
Name: 1, dtype: float64
2
A   -0.088531
B   -0.168304
C   -0.273217
D    0.484009
Name: 2, dtype: float64

In [5]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [7]:
df.groupby('Team')

In [9]:
df.groupby('Team').groups

{'Devils': [2, 3], 'Kings': [4, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10], 'kings': [5]}

In [11]:
df.groupby(['Team','Year']).groups

{('Devils', 2014): [2], ('Devils', 2015): [3], ('Kings', 2014): [4], ('Kings', 2016): [6], ('Kings', 2017): [7], ('Riders', 2014): [0], ('Riders', 2015): [1], ('Riders', 2016): [8], ('Riders', 2017): [11], ('Royals', 2014): [9], ('Royals', 2015): [10], ('kings', 2015): [5]}

In [14]:
grouped=df.groupby("Rank",as_index=False)
for name in grouped:
    print(name)

(1,       Team  Rank  Year  Points
0   Riders     1  2014     876
6    Kings     1  2016     756
7    Kings     1  2017     788
10  Royals     1  2015     804)
(2,       Team  Rank  Year  Points
1   Riders     2  2015     789
2   Devils     2  2014     863
8   Riders     2  2016     694
11  Riders     2  2017     690)
(3,      Team  Rank  Year  Points
3  Devils     3  2015     673
4   Kings     3  2014     741)
(4,      Team  Rank  Year  Points
5   kings     4  2015     812
9  Royals     4  2014     701)

In [15]:
grouped=df.groupby('Year')
print(grouped.get_group(2014))

     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

In [16]:
"""agg方法实现聚合, 相比于apply，可以同时传入多个统计函数"""

# 针对同一列使用不同的统计方法 
grouped = df.groupby('Year', as_index=False)    # 这个as_index属性，如果是False，就是SQL风格的统计输出，如果是True，默认第一列变成了索引
print(grouped['Points'].agg({'mean':np.mean, 'std':np.std, 'max':np.max}))

# 针对不同的列使用不同的统计方法
print(grouped.agg({'Points':[np.mean, 'sum'], 'Rank':[np.max]}))

# 使用apply的话
print(grouped['Points'].apply(np.mean))
grouped.apply(lambda x: print(x))

   Year    mean        std  max
0  2014  795.25  87.439026  876
1  2015  769.50  65.035888  812
2  2016  725.00  43.840620  756
3  2017  739.00  69.296465  788

   Year  Points       Rank
           mean   sum amax
0  2014  795.25  3181    4
1  2015  769.50  3078    4
2  2016  725.00  1450    2
3  2017  739.00  1478    2

   Year  Points
0  2014  795.25
1  2015  769.50
2  2016  725.00
3  2017  739.00
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690

Empty DataFrame
Columns: []
Index: []

In [20]:
grouped.size()   # 看一下分组后每个队的个数

# 过滤到个数小于3的队伍
print(df.groupby('Team').filter(lambda x: len(x) >= 3))

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
4    Kings     3  2014     741
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
11  Riders     2  2017     690

## 4. list的经典使用案例
### 下面的这些例子非常经典实用， 不管是刷题还是应用中其实很常见， 顺序不分先后。

In [21]:
# 判断list里面有无重复元素

def is_duplicated(lst):
    return len(set(lst)) != len(lst)

a = [1, 2, 3, 3]
is_duplicated(a)

True

In [23]:
def reverse(lst):
	return lst[::-1]
reverse(a)

[3, 3, 2, 1]

In [25]:
def find_duplicated(l):
    ret = []
    for item in l:
        if l.count(item) > 1 and item not in ret:
            ret.append(item)
    return ret

a = [1, 2, 3, 2, 1]
b = find_duplicated(a)    # [1, 2]
b

[1, 2]