In [1]:
import pandas as pd

df ={'姓名':[' 黄同学','黄至尊','黄老邪 ','陈大美','孙尚香'],
     '英文名':['Huang tong_xue','huang zhi_zun','Huang Lao_xie','Chen Da_mei','sun shang_xiang'],
     '性别':['男','women','men','女','男'],
     '身份证':['463895200003128433','429475199912122345','420934199110102311','431085200005230122','420953199509082345'],
     '身高':['mid:175_good','low:165_bad','low:159_bad','high:180_verygood','low:172_bad'],
     '家庭住址':['湖北广水','河南信阳','广西桂林','湖北孝感','广东广州'],
     '电话号码':['13434813546','19748672895','16728613064','14561586431','19384683910'],
     '收入':['1.1万','8.5千','0.9万','6.5千','2.0万']}
df = pd.DataFrame(df)
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万

In [3]:
#① cat函数：用于字符串的拼接
df['姓名'].str.cat(df['家庭住址'],sep='-'*3)

0     黄同学---湖北广水
1     黄至尊---河南信阳
2    黄老邪 ---广西桂林
3     陈大美---湖北孝感
4     孙尚香---广东广州
Name: 姓名, dtype: object

In [4]:
#② contains：判断某个字符串是否包含给定字符
df['家庭住址'].str.contains('广')

0     True
1    False
2     True
3    False
4     True
Name: 家庭住址, dtype: bool

In [12]:
#③ startswith/endswith：判断某个字符串是否以…开头/结尾
df['姓名'].str.startswith('黄')
df['英文名'].str.endswith('e')

0     True
1    False
2     True
3    False
4    False
Name: 英文名, dtype: bool

In [14]:
#④ count：计算给定字符在字符串中出现的次数
df['电话号码'].str.count('3')

0    3
1    0
2    1
3    1
4    2
Name: 电话号码, dtype: int64

In [18]:
#⑤ get：获取指定位置的字符串
# df["姓名"].str.get(-1)
# df["身高"].str.split(":")
df["身高"].str.split(":").str.get(0)

0     mid
1     low
2     low
3    high
4     low
Name: 身高, dtype: object

In [19]:
#⑧ pad+side参数/center：在字符串的左边、右边或左右两边添加给定字符
df["家庭住址"].str.pad(10,fillchar="*")      # 相当于ljust()
df["家庭住址"].str.pad(10,side="right",fillchar="*")    # 相当于rjust()
df["家庭住址"].str.center(10,fillchar="*")

0    ***湖北广水***
1    ***河南信阳***
2    ***广西桂林***
3    ***湖北孝感***
4    ***广东广州***
Name: 家庭住址, dtype: object

In [21]:
#⑩ slice_replace：使用给定的字符串，替换指定的位置的字符
df["电话号码"].str.slice_replace(4,8,"*"*4)

0    1343****546
1    1974****895
2    1672****064
3    1456****431
4    1938****910
Name: 电话号码, dtype: object

In [22]:
#⑪ replace：将指定位置的字符，替换为给定的字符串
df["身高"].str.replace(":","-")

0         mid-175_good
1          low-165_bad
2          low-159_bad
3    high-180_verygood
4          low-172_bad
Name: 身高, dtype: object

In [24]:
# ⑫ replace：将指定位置的字符，替换为给定的字符串(接受正则表达式)

# replace中传入正则表达式，才叫好用；
# 先不要管下面这个案例有没有用，你只需要知道，使用正则做数据清洗多好用；

df["收入"].str.replace("\d+\.\d*","正则")

0    正则万
1    正则千
2    正则万
3    正则千
4    正则万
Name: 收入, dtype: object

In [26]:
#⑬ split方法+expand参数：搭配join方法功能很强大
# 普通用法
df["身高"].str.split(":")
# split方法，搭配expand参数
df[["身高描述","final身高"]] = df["身高"].str.split(":",expand=True)
df
# split方法搭配join方法
# df["身高"].str.split(":").str.join("?"*5)

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入,身高描述,final身高
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万,mid,175_good
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千,low,165_bad
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万,low,159_bad
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千,high,180_verygood
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万,low,172_bad

In [27]:
#⑭ strip/rstrip/lstrip：去除空白符、换行符

df["姓名"].str.len()
df["姓名"] = df["姓名"].str.strip()
df["姓名"].str.len()

0    3
1    3
2    3
3    3
4    3
Name: 姓名, dtype: int64

In [28]:
# ⑮ findall：利用正则表达式，去字符串中匹配，返回查找结果的列表

# findall使用正则表达式，做数据清洗，真的很香！

df["身高"]
df["身高"].str.findall("[a-zA-Z]+")

0         [mid, good]
1          [low, bad]
2          [low, bad]
3    [high, verygood]
4          [low, bad]
Name: 身高, dtype: object

In [33]:
#⑯ extract/extractall：接受正则表达式，抽取匹配的字符串(一定要加上括号)

df["身高"].str.extract("([a-zA-Z]+)")
# extractall提取得到复合索引
df["身高"].str.extractall("([a-zA-Z]+)")
# extract搭配expand参数
df["身高"].str.extract("([a-zA-Z]+).*?([a-zA-Z]+)",expand=True)

      0         1
0   mid      good
1   low       bad
2   low       bad
3  high  verygood
4   low       bad