In [6]:
import os

def read_file(filename):
    if os.path.exists(filename) is False:
        raise FileNotFoundError('%s not exists' % (filename,))
    
    f = open(filename, encoding='utf-8')   # 后面那个是指定编码  一般平台默认编码格式是utf-8
    content = f.read()
    f.close()
    return content


def read_file(filename):
    if os.path.exists(filename) is False:
        raise FileNotFoundError('%s not exists' % (filename,))
    
    with open(filename, encoding='utf-8') as f:
        content = f.read()    #  这时候读完了之后自动关闭
        
    return content

content = read_file(r"D:\test1\da.txt")
content

'id       x       y\na001    10.0    100\na002    50.0    88\na003    NAN     500\nb001    70.0    --\nb002    20.0    300'

In [8]:
"""文件按行读"""
def read_file_line(filename):
    if not os.path.exists(filename):
        raise FileNotFoundError('%s not exists' % filename)
    
    with open(filename, encoding='utf-8') as f:
        content = f.readlines()
    
    return content

con = read_file_line(r"D:\test1\da.txt")

con

['id       x       y\n',
 'a001    10.0    100\n',
 'a002    50.0    88\n',
 'a003    NAN     500\n',
 'b001    70.0    --\n',
 'b002    20.0    300']

In [14]:
import pandas as pd 

df=pd.DataFrame({'score':[18,1,17,16,16,15,14,13,12,10,9],'cat':['B','A','A','B','A','A','A','B','B','A','B']})
df

    score cat
0      18   B
1       1   A
2      17   A
3      16   B
4      16   A
5      15   A
6      14   A
7      13   B
8      12   B
9      10   A
10      9   B

In [38]:
df['rnk']=df.score.rank(method='dense',ascending=False)  # method = 'dense' 中国式排名，默认升序，ascending=False 为降序
df.sort_values('rnk',inplace=True)  # 表示df按照 'rnk' 这个字段排序，inplace默认为False,如果该值为False，那么原来的pd顺序没变，只是返回的是排序的

In [33]:
df

    score cat   rnk
0      18   B   1.0
2      17   A   2.0
3      16   B   3.0
4      16   A   3.0
5      15   A   4.0
6      14   A   5.0
7      13   B   6.0
8      12   B   7.0
9      10   A   8.0
10      9   B   9.0
1       1   A  10.0

In [36]:
df['rnk']=df.rnk.astype('int')
df

    score cat  rnk
0      18   B    1
2      17   A    2
3      16   B    3
4      16   A    3
5      15   A    4
6      14   A    5
7      13   B    6
8      12   B    7
9      10   A    8
10      9   B    9
1       1   A   10