In [25]:
# 步骤一：python导入Excel
import pandas as pd
from pandas import Series, DataFrame
os.chdir(r'd:\test1')
df = pd.read_excel('./datapratice.xlsx',dtype={'ounces':float},engine='openpyxl')
df.to_excel('food.xlsx')
df

           food  ounces  animal
0         bacon     4.0     pig
1   pulled pork     3.0     pig
2         bacon     NaN     pig
3      Pastrami     6.0     cow
4   corned beef     7.5     cow
5         Bacon     8.0     pig
6      pastrami    -3.0     cow
7     honey ham     5.0     pig
8      nova lox     6.0  salmon

In [26]:
df.dtypes

food       object
ounces    float64
animal     object
dtype: object

In [28]:

df['food']=df['food'].str.lower()
df.dropna(inplace=True)
df

           food  ounces  animal
0         bacon     4.0     pig
1   pulled pork     3.0     pig
3      pastrami     6.0     cow
4   corned beef     7.5     cow
5         bacon     8.0     pig
6      pastrami    -3.0     cow
7     honey ham     5.0     pig
8      nova lox     6.0  salmon

In [29]:

df['ounces']=df['ounces'].apply(lambda a:abs(a))
df

           food  ounces  animal
0         bacon     4.0     pig
1   pulled pork     3.0     pig
3      pastrami     6.0     cow
4   corned beef     7.5     cow
5         bacon     8.0     pig
6      pastrami     3.0     cow
7     honey ham     5.0     pig
8      nova lox     6.0  salmon

In [30]:
d_rows = df[df['food'].duplicated(keep=False)]
print(d_rows)
g_items = d_rows.groupby('food').mean()
print(g_items)
g_items['food'] = g_items.index
print(g_items)

           food  ounces animal
0         bacon     4.0    pig
3      pastrami     6.0    cow
5         bacon     8.0    pig
6      pastrami     3.0    cow
              ounces
food
       bacon     6.0
    pastrami     4.5
              ounces          food
food
       bacon     6.0         bacon
    pastrami     4.5      pastrami

In [31]:
#步骤四
# 遍历将重复food的平均值赋值给df
for i, row in g_items.iterrows():
    df.loc[df.food == row.food, 'ounces'] = row.ounces
print(df)
df.drop_duplicates(inplace=True) # 删除重复记录
print(df)
df.index = range(len(df)) # 重设索引值
print(df)

           food  ounces  animal
0         bacon     6.0     pig
1   pulled pork     3.0     pig
3      pastrami     4.5     cow
4   corned beef     7.5     cow
5         bacon     6.0     pig
6      pastrami     4.5     cow
7     honey ham     5.0     pig
8      nova lox     6.0  salmon
           food  ounces  animal
0         bacon     6.0     pig
1   pulled pork     3.0     pig
3      pastrami     4.5     cow
4   corned beef     7.5     cow
6      pastrami     4.5     cow
7     honey ham     5.0     pig
8      nova lox     6.0  salmon
           food  ounces  animal
0         bacon     6.0     pig
1   pulled pork     3.0     pig
2      pastrami     4.5     cow
3   corned beef     7.5     cow
4      pastrami     4.5     cow
5     honey ham     5.0     pig
6      nova lox     6.0  salmon