In [2]:
import pandas as pd

df = pd.read_csv('patient_heart_rate.csv')
df

      1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0   2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1   3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2   4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3   5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4   6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5   7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6   8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7   NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8   9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
9  10.0    Louie McDuck  12.0       45kgs    -    -    -   92   95   87

In [3]:
columns_names=['id','name','age','weight','m0006','m0612','m1218','f0006','f0612','f1218']
df = pd.read_csv('patient_heart_rate.csv',names=columns_names)
df

      id            name   age      weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7    8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
8    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
10  10.0    Louie McDuck  12.0       45kgs     -     -     -    92    95    87

In [4]:
df[['first_name', 'last_name']] = df.name.str.split(" ", expand=True)
df.drop('name', axis=1, inplace=True)

In [5]:
df

,id,age,weight,m0006,m0612,m1218,f0006,f0612,f1218,first_name,last_name
0,1.0,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7.0,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
10,10.0,12.0,45kgs,-,-,-,92,95,87,Louie,McDuck

In [5]:
#不定长参数求输入数字的和
def sum_add(*args):    #定义一个函数
    count=0
    for i in args:
        count +=i
    return count      #返回值为count,它返回给调用函数


l = input('Enter some numbers:').split(' ')   #以split函数分隔输入的数字，并以空格' '来分隔(inpout输入的实际是字符串)
li=[]   #定义一个列表用来存储转换为的真正数字
for i in l:
    li.append(int(i))   #int强制转换l里的字符为int整型
re = sum_add(*li)   #定义re来接收return返回的count值
print(re)           #打印re接收的值

Enter some numbers:25 65
90

In [7]:
def func(name,age=12):  #函数设置默认参数age=12,如果不传参数age的值，则使用默认参数
    print(name,age)
    return    #没有返回值，则函数返回None

re = func('zhang')  
print(re)         #用re接收函数返回值，此处没有值则打印出None

zhang 12
None

In [15]:
def print_info(name,age,*agrs,**kwagrs):
    print('your name is %s and your age is %d' %(name,age))
    print(agrs)
    print(kwagrs)
name=input('name:')
age = int(input('age:'))
f=input('f:')
b=input('b:')

print_info(name,age,f,b,favorite_color='black',favorite_book = 'A')

name:zhangfei
age:33
f:football
b:baskatball
your name is zhangfei and your age is 33
('football', 'baskatball')
{'favorite_color': 'black', 'favorite_book': 'A'}

In [17]:
def foo(*args):
    print(args)
foo(1,2,3,4)
foo(*['a','b','c','d'])

(1, 2, 3, 4)
('a', 'b', 'c', 'd')

In [18]:
def foo(**kwargs):
    print(kwargs)
foo(x=1,y=2)

{'x': 1, 'y': 2}

In [21]:
def foo(name,age,*,sex='male',height):
    print(name,age)
    print(sex)
    print(height)
foo('xiaoming',16,height=185)

xiaoming 16
male
185

In [27]:
def extendList(val,a):
    list={}
    list[a]=val
    return list
list1 = extendList('a',65)
print('list1=%s' %list1)

list1={65: 'a'}

In [36]:
c=dict()
c['a']=12
print(c)

{'a': 12}

In [46]:
cc=11
a={}
a[cc]=1
a

{11: 1}

In [47]:
my_list=['fgg','rth','rkz']
for index,value in enumerate(my_list):
    print(index,value)

0 fgg
1 rth
2 rkz

# 字典的遍历

In [48]:
my_dict={'name':'老王','age':22,'no':'009'}
for key in my_dict.keys():
    print(key)

name
age
no

In [49]:
for value in my_dict.values():
    print(value)

老王
22
009

In [50]:
for item in my_dict.items():
    print(item)

('name', '老王')
('age', 22)
('no', '009')

In [51]:
for key,value in my_dict.items():
    print(key,value)

name 老王
age 22
no 009

In [56]:
my_dict1={'name':'小明','age':19,'no':'007'}
value=my_dict1['age']
print(value)

19

In [57]:
my_dict1['age']=20
print(my_dict1)

{'name': '小明', 'age': 20, 'no': '007'}

In [58]:
my_dict1['test']='测试'
print(my_dict1)

{'name': '小明', 'age': 20, 'no': '007', 'test': '测试'}

In [59]:
del my_dict1['test']

In [65]:
print(my_dict1)

{}

In [61]:
my_dict1.clear()

In [62]:
print(my_dict1)

{}

In [64]:
print(len(my_dict))

3

In [67]:
keys_list=my_dict.keys()
print(list(keys_list))

['name', 'age', 'no']

In [68]:
values_list=my_dict.values()
print(list(values_list))

['老王', 22, '009']

In [69]:
items_list=my_dict.items()
print(list(items_list))

[('name', '老王'), ('age', 22), ('no', '009')]

In [70]:
if 'name' in my_dict:
    print('name存在')

name存在

In [75]:
value=my_dict.setdefault('name1','哈哈')
print(value)

哈哈

In [76]:
print(my_dict)

{'name': '老王', 'age': 22, 'no': '009', 'name1': '哈哈'}

In [77]:
ret=my_dict.get('gender')
print(ret)

None

In [78]:
ret=my_dict.get('name1','哈哈')

In [79]:
print(ret)

哈哈

In [80]:
print(my_dict)

{'name': '老王', 'age': 22, 'no': '009', 'name1': '哈哈'}

In [84]:
rl=[1,2,3,4,5,1,2,6,9,6]
print('去重之后的rl：',set(rl))

去重之后的rl： {1, 2, 3, 4, 5, 6, 9}

In [85]:
analyze_rl=[]
for r in rl:
    if r not in analyze_rl:
        analyze_rl.append(r)
print('去重之后的rl:',analyze_rl)

去重之后的rl: [1, 2, 3, 4, 5, 6, 9]

In [86]:
from collections import  Counter
text = """
Introducing Red Hat Enterprise Linux 7
Red Hat Enterprise Linux 7 showcases the latest features in an enterprise operating system
Introducing Red Hat Enterprise Linux 7
Red Hat Enterprise Linux 7 showcases the latest features in an enterprise operating system
Introducing Red Hat Enterprise Linux 7
Red Hat Enterprise Linux 7 showcases the latest features in an enterprise operating system
Introducing Red Hat Enterprise Linux 7
Red Hat Enterprise Linux 7 showcases the latest features in an enterprise operating system

    Enterprise architects will appreciate new capabilities such as lightweight application isolation.
    Application developers will welcome an updated development environment and application-profiling tools. Read more at the Red Hat Developer Blog.
    System administrators will appreciate new management tools and expanded file-system options with improved performance and scalability.

    Deployed on physical hardware, virtual machines, or in the cloud, Red Hat Enterprise Linux 7 delivers the advanced features required for next-generation architectures.
    Where to go from here:

    Red Hat Enterprise Linux 7 Product Page

    The landing page for Red Hat Enterprise Linux 7 information. Learn how to plan, deploy, maintain, and troubleshoot your Red Hat Enterprise Linux 7 system.
    Red Hat Customer Portal

    Your central access point to finding articles, videos, and other Red Hat content, as well as manage your Red Hat support cases.

    Documentation

    Provides documentation related to Red Hat Enterprise Linux and other Red Hat offerings.
    Red Hat Subscription Management

    Web-based administration interface to efficiently manage systems.
    Red Hat Enterprise Linux Product Page

    Provides an entry point to Red Hat Enterprise Linux product offerings.
"""
# 1. 先拿出字符串里面的所有单词;
words = text.split()        # ['hello', 'world', 'hello', 'python', 'hello', 'java']
"""
# text = "hello world hello python hello java"
# words = ['hello', 'world', 'hello', 'python', 'hello', 'java']
# word_count_dict = {
#     'hello': 3, 
#   'world': 1, 
#    'python':1, 
#    'java':1
# }

"""
# 2. 统计每个单词出现的次数
#       1). 如何存储统计好的信息: 字典存储{'hello':3, 'world':1, 'python':1, 'java':1}
#       2). 如何处理?
word_count_dict = {}
for word in words:
    if word not in word_count_dict:
        word_count_dict[word] = 1
    else:
        word_count_dict[word]  += 1
print(word_count_dict)
# 3. 排序，获取出现次数最多的单词
counter = Counter(word_count_dict)
print(counter.most_common(5))

{'Introducing': 4, 'Red': 21, 'Hat': 21, 'Enterprise': 16, 'Linux': 15, '7': 12, 'showcases': 4, 'the': 7, 'latest': 4, 'features': 5, 'in': 5, 'an': 6, 'enterprise': 4, 'operating': 4, 'system': 4, 'architects': 1, 'will': 3, 'appreciate': 2, 'new': 2, 'capabilities': 1, 'such': 1, 'as': 3, 'lightweight': 1, 'application': 1, 'isolation.': 1, 'Application': 1, 'developers': 1, 'welcome': 1, 'updated': 1, 'development': 1, 'environment': 1, 'and': 6, 'application-profiling': 1, 'tools.': 1, 'Read': 1, 'more': 1, 'at': 1, 'Developer': 1, 'Blog.': 1, 'System': 1, 'administrators': 1, 'management': 1, 'tools': 1, 'expanded': 1, 'file-system': 1, 'options': 1, 'with': 1, 'improved': 1, 'performance': 1, 'scalability.': 1, 'Deployed': 1, 'on': 1, 'physical': 1, 'hardware,': 1, 'virtual': 1, 'machines,': 1, 'or': 1, 'cloud,': 1, 'delivers': 1, 'advanced': 1, 'required': 1, 'for': 2, 'next-generation': 1, 'architectures.': 1, 'Where': 1, 'to': 6, 'go': 1, 'from': 1, 'here:': 1, 'Product': 2, 'Page': 2, 'The': 1, 'landing': 1, 'page': 1, 'information.': 1, 'Learn': 1, 'how': 1, 'plan,': 1, 'deploy,': 1, 'maintain,': 1, 'troubleshoot': 1, 'your': 2, 'system.': 1, 'Customer': 1, 'Portal': 1, 'Your': 1, 'central': 1, 'access': 1, 'point': 2, 'finding': 1, 'articles,': 1, 'videos,': 1, 'other': 2, 'content,': 1, 'well': 1, 'manage': 2, 'support': 1, 'cases.': 1, 'Documentation': 1, 'Provides': 2, 'documentation': 1, 'related': 1, 'offerings.': 2, 'Subscription': 1, 'Management': 1, 'Web-based': 1, 'administration': 1, 'interface': 1, 'efficiently': 1, 'systems.': 1, 'entry': 1, 'product': 1}
[('Red', 21), ('Hat', 21), ('Enterprise', 16), ('Linux', 15), ('7', 12)]

In [3]:
import string
import random

x = string.ascii_letters + string.digits
z = ''.join(random.choice(x) for i in range(1000))
d = dict()
for ch in z:
    d[ch] = d.get(ch,0) + 1
for k,v in sorted(d.items()):
    print(k,':',v)

0 : 11
1 : 20
2 : 13
3 : 10
4 : 21
5 : 27
6 : 12
7 : 14
8 : 13
9 : 18
A : 19
B : 16
C : 13
D : 19
E : 15
F : 11
G : 16
H : 14
I : 19
J : 16
K : 16
L : 9
M : 14
N : 14
O : 19
P : 29
Q : 13
R : 19
S : 15
T : 17
U : 21
V : 18
W : 16
X : 15
Y : 21
Z : 13
a : 14
b : 10
c : 14
d : 18
e : 14
f : 10
g : 14
h : 26
i : 13
j : 16
k : 15
l : 10
m : 13
n : 22
o : 15
p : 18
q : 27
r : 24
s : 17
t : 11
u : 15
v : 21
w : 13
x : 16
y : 14
z : 14

In [13]:
history = {'1/1/20':0,'1/2/20':1,'1/3/20':2}
for date,v in history.items():
    print(date,':',v)

1/1/20 : 0
1/2/20 : 1
1/3/20 : 2

In [15]:
population = [{'country': 'United Kingdom', 'population': '66181585'}, {'country': 'United States', 'population': '324459463'}]
country_population = {}
for item in population:
    country_population[item['country']] = int(item['population'])
print(country_population)
# 输出结果：
# {'United Kingdom': 66181585, 'United States': 324459463}

country_population['UK'] = country_population['United Kingdom']
country_population['US'] = country_population['United States']
country_population['Serbia'] = 7057666
print(country_population)
# 输出结果：
# {'United Kingdom': 66181585, 'United States': 324459463, 'UK': 66181585, 'US': 324459463, 'Serbia': 7057666}

{'United Kingdom': 66181585, 'United States': 324459463}
{'United Kingdom': 66181585, 'United States': 324459463, 'UK': 66181585, 'US': 324459463, 'Serbia': 7057666}

In [16]:
d = {'number':{'locations':[{"country":'China','history':{'1/1/20':0,'1/2/20':1,'1/3/20':2}},
                            {"country":'US','history':{'1/1/20':10,'1/2/20':11,'1/3/20':12}},
                            {"country":'UK', 'history': {'1/1/20': 110, '1/2/20': 111, '1/3/20':112}}]}}
#1
for i,location in enumerate(d['number']['locations']):
    print(i, "and", location)
    
# 输出结果：
# 0 and {'country': 'China', 'history': {'1/1/20': 0, '1/2/20': 1, '1/3/20': 2}}
# 1 and {'country': 'US', 'history': {'1/1/20': 10, '1/2/20': 11, '1/3/20': 12}}
# 2 and {'country': 'UK', 'history': {'1/1/20': 110, '1/2/20': 111, '1/3/20': 112}}

#2
    print(location['country'])

# 输出结果
# China
# US
# UK

#3
    for date in location['history']:
        print(date)
        number = int(location['history'][date])
        print(number)
# 输出结果：
# 1/1/20
# 0
# 1/2/20
# 1
# 1/3/20
# 2
# 1/1/20
# 10
# 1/2/20
# 11
# 1/3/20
# 12
# 1/1/20
# 110
# 1/2/20
# 111
# 1/3/20
# 112

0 and {'country': 'China', 'history': {'1/1/20': 0, '1/2/20': 1, '1/3/20': 2}}
China
1/1/20
0
1/2/20
1
1/3/20
2
1 and {'country': 'US', 'history': {'1/1/20': 10, '1/2/20': 11, '1/3/20': 12}}
US
1/1/20
10
1/2/20
11
1/3/20
12
2 and {'country': 'UK', 'history': {'1/1/20': 110, '1/2/20': 111, '1/3/20': 112}}
UK
1/1/20
110
1/2/20
111
1/3/20
112