In [19]:
import pandas as pd 

df =pd.DataFrame({'x':['A B','A B','A B','A B','A B'],'y':['C D','C D','C D','C D','C D'],'Values':[4.7,10.9,1.8,6.5,3.4]})
df

     x    y  Values
0  A B  C D     4.7
1  A B  C D    10.9
2  A B  C D     1.8
3  A B  C D     6.5
4  A B  C D     3.4

In [20]:
df[['x','f']]=df.x.str.split(' ',expand=True)
df[['y','g']]=df.y.str.split(' ',expand=True)
df[['x','f','y','g','Values']]

   x  f  y  g  Values
0  A  B  C  D     4.7
1  A  B  C  D    10.9
2  A  B  C  D     1.8
3  A  B  C  D     6.5
4  A  B  C  D     3.4

In [21]:
cols={
    'x': ['x','f'],
    'y': ['y','g']
}
for k in cols:
    df[cols[k]]=df[k].str.split(' ',expand=True)

new_columns=sum(cols.values(),[])
old.columns=set(df.columns)-set(new_columns)
df[new_columns+list(old_columns)]

ValueError: Columns must be same length as key

In [22]:
# Define the target columns to split, and their new column names
cols={
    'x': ['x','f'],
    'y': ['y','g']
}
# Apply the function to each target-column
for k in cols:
    df[cols[k]] = df[k].str.split(" ", expand=True)

# Reorder the dataframe as you wish
new_columns = sum(cols.values(),[])
old_columns = set(df.columns) - set(new_columns)
df[new_columns + list(old_columns)]

ValueError: Columns must be same length as key