In [3]:
import os,xlrd
 
data_path = os.path.join('D:\jupyter notebook','test')#os.path.join()函数：连接两个或更多的路径名
print(data_path)
 
#获取目录下所有Excel中sheet
def getTables():
    for excel in os.listdir(data_path):#os.listdir() 方法用于返回指定的文件夹包含的文件或文件夹的名字的列表
        print(excel)
        if excel.startswith('~'):
            break
        excelPath = os.path.join(data_path, excel)#拼接路径
        excels = xlrd.open_workbook(excelPath)
        sheetNames = excels.sheet_names()#获取目录下所有sheet的名字，sheetNames为list类型
        print('sheetNames:',sheetNames)
        # 循环从sheetNames中读取sheet表，返回的是sheet的内存地址
        for sheet in sheetNames:
            table = excels.sheet_by_name(sheet)
        print('table:',table)
        return table
#从getTables()中返回的table中提取数据，sheet中的数据组成一个列表，Excel中的表头和数据分别组成key:value的格式
def getData(sheets):
    data = []
    for i in range(2, sheets.nrows):
        data.append(dict(zip(sheets.row_values(1), sheets.row_values(i))))
    print('读取出的data:',data)

for i in range(2):
    getData(getTables())

In [42]:
import pandas as pd
def xlsx_to_csv_pd():
    
    #sheet_name=None 表示读取全部 sheet，或者 sheet_name=[0,10]，此处用 sheet_name，而不是用 sheetname
    data_xls = pd.read_excel(r'D:\jupyter notebook\test\21体侧数据模板.xls',sheet_name=None,index_col=0)
    for key in data_xls:
        data_xls[key].to_csv(r'D:\jupyter notebook\test\key' +  '.csv',encoding='utf-8')
                             
if __name__=='__main__':
                             
    xlsx_to_csv_pd()

In [4]:

# -*- coding:utf-8 -*-
#模块功能：判断某个文件夹下有几个Excel文件，每个Excel有几个Sheet及Sheet Name
import os
import openpyxl

def getFileNames(path):
    filenames = os.listdir(path)
    for i, filename in enumerate(filenames):
         if i==0:
            iSpecialFile=i+1
            sFileName=filename

         print('==================第%s个文件========================='%(i+1))
         print('文件名：%s'%(filename))
         getSheetNames(path,filename)
    print('\n')
    print('--------------------选择指定的第几个文件-------------------------')
    print('指定的是第%s个文件:'%iSpecialFile+sFileName )
    print('----------------------------------------------------------------')

def getSheetNames(path,sFileName):
    wb = openpyxl.load_workbook(path+'\\'+sFileName)
    # 获取workbook中所有的表格
    sheets = wb.sheetnames

    # 循环遍历所有sheet
    for i in range(len(sheets)):
        sheet = wb[sheets[i]]
        print('第' + str(i + 1) + '个sheet Name: ' + sheet.title)

if __name__=='__main__':
    path=r'D:\jupyter notebook\xx'
    getFileNames(path)

In [5]:
import pandas as pd 
import os 
students = pd.read_excel('./Students.xlsx')
students

In [23]:

students11 = students.loc[students.Age.apply(lambda a:18<=a<=30)].loc[students.Chinese.apply(lambda b:b>=90)]
students11

      ID Name  Age  Chinese   Math  English
1  15519  韦玉英   26     96.0  104.0       68
3  15216   邵宁   27     99.5  105.0      100
5  15638  陈秀荣   20     93.0  105.0       46
7  16909   李娟   21    102.0   98.0       41

In [6]:
def score_85(b):
    return b>=85
students = students.loc[students.Chinese.apply(score_85)]
students

In [7]:
students22 = students.loc[students.Math.apply(lambda b:b>=95)]
students22

In [8]:
st = pd.read_excel('./stu.xlsx')
st

In [9]:
stu1=st.loc[st.语文.apply(lambda x:x>=90)].loc[st.数学.apply(lambda y:80<=y<=120)]
stu1

In [42]:
stu2=st.loc[st.语文.apply(lambda x:x>=90)].loc[st.数学.apply(lambda y:80<=y<=120)].loc[st.英语.apply(lambda z:z>60)]
stu2

    序号     考号   班级   姓名 性别     语文     数学   英语           电话
1    2  15519  五4班  韦玉英  F   96.0  104.0   68  15204988144
3    4  15216  五2班   邵宁  F   99.5  105.0  100  14557026347
14  15  15670  五4班   纪楠  F  102.0   85.5   63  18620979568
28  29  15538  五3班   单勇  F   97.0   88.5   61  13412151326

In [10]:
def score_60(c):
    return c>90
stu3=st.loc[st.英语.apply(score_60)]
stu3

In [1]:
import pandas as pd 
import os

In [11]:
def read_excel(path):
  df=pd.read_excel(path,None)
  print(df.keys())
  # for k,v in df.items():
  #   print(k)
  #   print(v)
  #   print(type(v))
  return df
path = r'./stu.xlsx'
read_excel(path)

In [12]:
def read_excel1(path):
  data_xls = pd.ExcelFile(path)
  print(data_xls.sheet_names)
  data={}
  for name in data_xls.sheet_names:
    df=data_xls.parse(sheetname=name,header=None)
    data[name]=df
    # print(df)
    # print(name)
  return data
read_excel1(path)