In [2]:
p1=lambda :100
p1()

100

In [4]:
p2 = lambda a,b:a+b
p2(1,2)

3

In [6]:
p3 = lambda a,b,c=100:a+b+c
p3(10,20,200)

230

In [7]:
p4=lambda *args:args
p4(100,200,300)

(100, 200, 300)

In [8]:
p5 = lambda **kwargs:kwargs
p5(a=100,b=200)

{'a': 100, 'b': 200}

In [18]:
l = [{'name':'tom', 'age':16},
     {'name':'rom', 'age':19},
     {'name':'jom','age':32}]
l

[{'name': 'tom', 'age': 16},
 {'name': 'rom', 'age': 19},
 {'name': 'jom', 'age': 32}]

In [19]:
l.sort(key=lambda x:x['name'])
l

[{'name': 'jom', 'age': 32},
 {'name': 'rom', 'age': 19},
 {'name': 'tom', 'age': 16}]

In [20]:
l.sort(key=lambda x:x['age'])
l

[{'name': 'tom', 'age': 16},
 {'name': 'rom', 'age': 19},
 {'name': 'jom', 'age': 32}]

In [21]:
l.sort(key=lambda x:x['name'],reverse=True)

In [22]:
l

[{'name': 'tom', 'age': 16},
 {'name': 'rom', 'age': 19},
 {'name': 'jom', 'age': 32}]

In [23]:
l.sort(key=lambda x:x['age'],reverse=True)

In [24]:
l

[{'name': 'jom', 'age': 32},
 {'name': 'rom', 'age': 19},
 {'name': 'tom', 'age': 16}]

In [37]:
sorted(l,key=lambda x:x['age'],reverse=True)

[{'name': 'jom', 'age': 32},
 {'name': 'rom', 'age': 19},
 {'name': 'tom', 'age': 16}]

In [30]:
list = [('a', 4), ('b', 2), ('c', 5), ('d', 3), ('e', 1)]
print(sorted(list, key=lambda x: x[0])) #对第一个元素排序
print(sorted(list, key=lambda y: y[1])) #对第二个元素排序

[('a', 4), ('b', 2), ('c', 5), ('d', 3), ('e', 1)]
[('e', 1), ('b', 2), ('d', 3), ('a', 4), ('c', 5)]

In [32]:
a=[3,2,4,1]
sorted(a)

[1, 2, 3, 4]

In [15]:
import pandas as pd 


def banji():
    count=0
    banbei=[]
    Class = ['五1','五2','五3','五4']
    for i in  Class:
        for j in range(40):
            count+=1
            banbei.append(i)
    
    return banbei
# print(banji())

pt=pd.Series(banji())
pt

# df=pd.Series(list(set1))

0      五1
1      五1
2      五1
3      五1
4      五1
       ..
155    五4
156    五4
157    五4
158    五4
159    五4
Length: 160, dtype: object

In [16]:
Class = ['五1','五2','五3','五4']*5
Class

['五1',
 '五2',
 '五3',
 '五4',
 '五1',
 '五2',
 '五3',
 '五4',
 '五1',
 '五2',
 '五3',
 '五4',
 '五1',
 '五2',
 '五3',
 '五4',
 '五1',
 '五2',
 '五3',
 '五4']

In [18]:
import numpy as np
a = pd.DataFrame(np.arange(10).reshape(2,5))
print(a)

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [19]:
a = pd.DataFrame(np.arange(10).reshape(2,5),index=list("ab"),columns=list("qwxyz"))
print(a)

   q  w  x  y  z
a  0  1  2  3  4
b  5  6  7  8  9

In [20]:
temp_dict = {"name":["yangwj","ywj"],"age":[28,29],"tel":["10080","10010"]}
a = pd.DataFrame(temp_dict)
print(a)

     name  age    tel
0  yangwj   28  10080
1     ywj   29  10010

In [22]:
temp_dict = {"name":"yangwj","age":28,"tel":"10080"}
a = pd.Series(temp_dict)
a

name    yangwj
age         28
tel      10080
dtype: object

In [32]:
t= pd.Series(range(4))

In [33]:
t

0    0
1    1
2    2
3    3
dtype: int64

In [31]:
new = pd.DataFrame({'name':'','age':'','sex':''},index=['0'])